<link rel="stylesheet" href="/src/components/navbar-component/navbar-component.scss" />

<nav
	id="navbar"
	class="navbar navbar-expand-sm navbar-light fixed-top">

	<div id="navbar-container" class="container pt-0">
		<!-- Branding -->
		<a class="navbar-brand ms-3"
			href="/">
			dav
		</a>

		<!-- Toggle button -->
		<button
			class="navbar-toggler me-3"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbar-items-container"
			aria-controls="navbar-items-container"
			aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- List items -->
		<div id="navbar-items-container" class="collapse navbar-collapse">
			<!-- Not logged in -->
			<ul id="not-logged-in-list" class="navbar-nav d-none">
				<li class="nav-item">
					<a class="nav-link" href="/pricing">
						<%= navbarLocale.pricing %>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/login">
						<%= navbarLocale.login %>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/signup">
						<%= navbarLocale.signup %>
					</a>
				</li>
			</ul>

			<ul id="logged-in-list" class="navbar-nav d-none">
				<li class="nav-item d-none">
					<a id="dev-dashboard-link" class="nav-link" href="/dev">
						<%= navbarLocale.devDashboard %>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/apps">
						<%= navbarLocale.allApps %>
					</a>
				</li>
				<li class="nav-item">
					<a id="user-link" class="nav-link" href="/user"></a>
				</li>
				<li class="nav-item">
					<a id="logout-link" class="nav-link" href="/logout">
						<%= navbarLocale.logout %>
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>