<div class="container navbar-margin pt-4 ms-motion-slideUpIn">
	<div class="d-flex mb-3">
		<div class="mx-auto d-flex">
			<button
				type="button"
				class="btn"
				style="height: 35px; width: 41px; padding: 2px 0px 0px 0px; margin-top: 7px"
				(click)="GoBack()">
				<fab-icon iconName="Back" [styles]="backButtonIconStyles"></fab-icon>
			</button>
			<h1 class="text-left ml-3 font-weight-light">{{ app.Name }}</h1>
		</div>
	</div>

	<div>
		<p class="mb-3 font-weight-light" style="font-size: 18px">{{ app.Description }}</p>
		<fab-primary-button>{{ locale.statistics }}</fab-primary-button>
		<fab-default-button [styles]="editButtonStyles" (click)="ShowEditAppDialog()">{{ locale.edit }}</fab-default-button>

		<h5 class="font-weight-light mt-4">{{ locale.published }}</h5>
		<fab-toggle></fab-toggle>
	</div>

	<div class="row">
		<div class="mx-4">
			<h3 class="font-weight-light mb-3 mt-4">{{ locale.tables }}</h3>
			<ul class="list-group" style="display: inline-block">
				<li class="list-group-item" *ngFor="let table of app.Tables">{{ table.Name }}</li>
			</ul>
		</div>

		<div class="mx-4">
			<h3 class="font-weight-light mb-3 mt-4">{{ locale.events }}</h3>
			<div class="list-group" style="display: inline-block">
				<a routerLink="/" class="list-group-item list-group-item-action" *ngFor="let event of app.Events">{{ event.Name }}</a>
			</div>
		</div>
	</div>
</div>

<fab-dialog
	[hidden]="!editAppDialogVisible"
	[dialogContentProps]="editAppDialogContent"
	(onDismiss)="editAppDialogVisible = false">

	<div class="mb-3">
		<fab-text-field
			[(value)]="newName"
			[label]="locale.editAppDialog.nameTextfieldLabel"
			[placeholder]="locale.editAppDialog.nameTextfieldPlaceholder">
		</fab-text-field>
	</div>
	
	<div class="mb-4">
		<fab-text-field
			[(value)]="newDescription"
			[label]="locale.editAppDialog.descriptionTextfieldLabel"
			[placeholder]="locale.editAppDialog.descriptionTextfieldPlaceholder"
			multiline="true">
		</fab-text-field>
	</div>
	
	<fab-dialog-footer>
		<fab-default-button (click)="editAppDialogVisible = false">{{ locale.editAppDialog.cancel }}</fab-default-button>
		<fab-primary-button [styles]="editAppDialogSaveButtonStyles">{{ locale.editAppDialog.save }}</fab-primary-button>
	</fab-dialog-footer>
</fab-dialog>