<div class="container navbar-margin pt-4 ms-motion-slideUpIn">
	<div class="d-flex mb-3">
		<div class="mx-auto d-flex">
			<button
				type="button"
				class="btn"
				style="height: 35px; width: 41px; padding: 2px 0px 0px 0px; margin-top: 7px"
				(click)="GoBack()">
				<i class="ms-Icon ms-Icon--Back" aria-hidden="true" style="font-size: 19px"></i>
			</button>
			<h1 class="text-left ml-3 font-weight-light">{{ app.Name }}</h1>
		</div>
	</div>

	<div>
		<p class="mb-3 font-weight-light" style="font-size: 18px">{{ app.Description }}</p>

		<fluent-button
			appearance="accent"
			(click)="ShowAppStatistics()">
			{{ locale.statistics }}
		</fluent-button>

		<fluent-button
			style="margin-left: 10px"
			(click)="ShowEditAppDialog()">
			{{ locale.edit }}
		</fluent-button>

		<h5 class="font-weight-light mt-4">{{ locale.published }}</h5>
		<fab-toggle [checked]="app.Published" (onChange)="publishAppDialogVisible = true"></fab-toggle>
	</div>

	<div class="row">
		<div class="mx-4">
			<h3 class="font-weight-light mb-3 mt-4">{{ locale.tables }}</h3>
			<ul class="list-group">
				<li class="list-group-item text-center cursor font-weight-light p-1" style="font-size: 26px" (click)="ShowAddTableDialog()">+</li>
				<li class="list-group-item text-center" *ngFor="let table of app.Tables">{{ table.Name }}</li>
			</ul>
		</div>

		<div class="mx-4">
			<h3 class="font-weight-light mb-3 mt-4">{{ locale.apis }}</h3>
			<ul class="list-group">
				<li class="list-group-item text-center cursor font-weight-light p-1" style="font-size: 26px" (click)="ShowAddApiDialog()">+</li>
				<a [routerLink]="'api/' + api.Id" class="list-group-item list-group-item-action" *ngFor="let api of app.Apis">{{ api.Name }}</a>
			</ul>
		</div>
	</div>
</div>

<dav-website-dialog
	[title]="locale.editAppDialog.title"
	[primaryButtonText]="locale.save"
	[defaultButtonText]="locale.cancel"
	[isLoading]="editAppDialogLoading"
	(dismiss)="editAppDialogVisible = false"
	(primaryButtonClick)="UpdateApp()"
	(defaultButtonClick)="editAppDialogVisible = false"
	*ngIf="editAppDialogVisible">

	<!-- Name -->
	<div class="mb-3">
		<fluent-text-field
			style="width: 100%"
			[value]="newName"
			type="text"
			[placeholder]="locale.editAppDialog.nameTextfieldPlaceholder"
			(input)="newName = $event.target.value">
			{{ locale.editAppDialog.nameTextfieldLabel }}
		</fluent-text-field>

		<p class="text-field-error" *ngIf="editAppDialogNameError.length > 0">
			{{ editAppDialogNameError }}
		</p>
	</div>

	<!-- Description -->
	<div class="mb-3">
		<fluent-text-area
			style="width: 100%"
			[value]="newDescription"
			type="text"
			multiline="true"
			[placeholder]="locale.editAppDialog.descriptionTextfieldPlaceholder"
			(input)="newDescription = $event.target.value">
			{{ locale.editAppDialog.descriptionTextfieldLabel }}
		</fluent-text-area>

		<p class="text-field-error" *ngIf="editAppDialogDescriptionError.length > 0">
			{{ editAppDialogDescriptionError }}
		</p>
	</div>

	<!-- Weblink -->
	<div class="mb-3">
		<fluent-text-field
			style="width: 100%"
			[value]="newWebLink"
			type="text"
			[placeholder]="locale.editAppDialog.webLinkTextfieldPlaceholder"
			(input)="newWebLink = $event.target.value">
			{{ locale.editAppDialog.webLinkTextfieldLabel }}
		</fluent-text-field>

		<p class="text-field-error" *ngIf="editAppDialogWebLinkError.length > 0">
			{{ editAppDialogWebLinkError }}
		</p>
	</div>

	<!-- GooglePlayLink -->
	<div class="mb-3">
		<fluent-text-field
			style="width: 100%"
			[value]="newGooglePlayLink"
			type="text"
			[placeholder]="locale.editAppDialog.googlePlayLinkTextfieldPlaceholder"
			(input)="newGooglePlayLink = $event.target.value">
			{{ locale.editAppDialog.googlePlayLinkTextfieldLabel }}
		</fluent-text-field>

		<p class="text-field-error" *ngIf="editAppDialogGooglePlayLinkError.length > 0">
			{{ editAppDialogGooglePlayLinkError }}
		</p>
	</div>

	<!-- MicrosoftStoreLink -->
	<div class="mb-3">
		<fluent-text-field
			style="width: 100%"
			[value]="newMicrosoftStoreLink"
			type="text"
			[placeholder]="locale.editAppDialog.microsoftStoreLinkTextfieldPlaceholder"
			(input)="newMicrosoftStoreLink = $event.target.value">
			{{ locale.editAppDialog.microsoftStoreLinkTextfieldLabel }}
		</fluent-text-field>

		<p class="text-field-error" *ngIf="editAppDialogMicrosoftStoreLinkError.length > 0">
			{{ editAppDialogMicrosoftStoreLinkError }}
		</p>
	</div>
</dav-website-dialog>

<dav-website-dialog
	[title]="app.Published ? locale.publishAppDialog.unpublishTitle : locale.publishAppDialog.publishTitle"
	[primaryButtonText]="locale.publishAppDialog.confirm"
	[defaultButtonText]="locale.cancel"
	[isLoading]="publishAppDialogLoading"
	(dismiss)="publishAppDialogVisible = false"
	(primaryButtonClick)="PublishApp()"
	(defaultButtonClick)="publishAppDialogVisible = false"
	*ngIf="publishAppDialogVisible">

	<p class="font-weight-light"
		style="max-width: 300px; font-size: 14px">
		{{ app.Published ? locale.publishAppDialog.unpublishSubtext : locale.publishAppDialog.publishSubtext }}
	</p>
</dav-website-dialog>

<dav-website-dialog
	[title]="locale.addTableDialog.title"
	[primaryButtonText]="locale.save"
	[defaultButtonText]="locale.cancel"
	[isLoading]="addTableDialogLoading"
	(dismiss)="addTableDialogVisible = false"
	(primaryButtonClick)="AddTable()"
	(defaultButtonClick)="addTableDialogVisible = false"
	*ngIf="addTableDialogVisible">

	<div class="mb-3">
		<fluent-text-field
			style="width: 100%"
			type="text"
			[placeholder]="locale.addTableDialog.nameTextfieldPlaceholder"
			(input)="addTableDialogNewTableName = $event.target.value"
			(keydown.enter)="AddTable()">
			{{ locale.addTableDialog.nameTextfieldLabel }}
		</fluent-text-field>

		<p class="text-field-error" *ngIf="addTableDialogNewTableError.length > 0">
			{{ addTableDialogNewTableError }}
		</p>
	</div>
</dav-website-dialog>

<dav-website-dialog
	[title]="locale.addApiDialog.title"
	[primaryButtonText]="locale.save"
	[defaultButtonText]="locale.cancel"
	[isLoading]="addApiDialogLoading"
	(dismiss)="addApiDialogVisible = false"
	(primaryButtonClick)="AddApi()"
	(defaultButtonClick)="addApiDialogVisible = false"
	*ngIf="addApiDialogVisible">

	<div class="mb-3">
		<fluent-text-field
			style="width: 100%"
			type="text"
			[placeholder]="locale.addApiDialog.nameTextfieldPlaceholder"
			(input)="addApiDialogApiName = $event.target.value"
			(keydown.enter)="AddApi()">
			{{ locale.addApiDialog.nameTextfieldLabel }}
		</fluent-text-field>

		<p class="text-field-error" *ngIf="addApiDialogApiNameError.length > 0">
			{{ addApiDialogApiNameError }}
		</p>
	</div>
</dav-website-dialog>