<div class="container navbar-margin pt-4 ms-motion-slideUpIn">
	<div class="mb-3">
		<dav-header
			[header]="app.Name"
			backButtonVisible
			size="big"
			(backButtonClick)="GoBack()">
		</dav-header>
	</div>

	<div>
		<p class="mb-3 font-weight-light" style="font-size: 18px">{{ app.Description }}</p>

		<dav-button
			type="accent"
			(click)="ShowAppStatistics()">
			{{ locale.statistics }}
		</dav-button>

		<dav-button
			style="margin-left: 10px"
			(click)="ShowEditAppDialog()">
			{{ locale.edit }}
		</dav-button>

		<h5 class="font-weight-light mt-4">{{ locale.published }}</h5>

		<dav-toggle
			[checked]="app.Published"
			(change)="publishAppDialogVisible = true">
		</dav-toggle>
	</div>

	<div class="row">
		<div class="mx-4">
			<h3 class="font-weight-light mb-3 mt-4">{{ locale.tables }}</h3>
			<ul class="list-group">
				<li class="list-group-item text-center cursor font-weight-light p-1" style="font-size: 26px" (click)="ShowAddTableDialog()">+</li>
				<li class="list-group-item text-center" *ngFor="let table of app.Tables">{{ table.Name }}</li>
			</ul>
		</div>

		<div class="mx-4">
			<h3 class="font-weight-light mb-3 mt-4">{{ locale.apis }}</h3>
			<ul class="list-group">
				<li class="list-group-item text-center cursor font-weight-light p-1" style="font-size: 26px" (click)="ShowAddApiDialog()">+</li>
				<li class="list-group-item text-center" *ngFor="let api of app.Apis">{{ api.Name }}</li>
			</ul>
		</div>
	</div>
</div>

<dav-dialog
	[header]="locale.editAppDialog.header"
	[primaryButtonText]="locale.save"
	[defaultButtonText]="locale.cancel"
	[visible]="editAppDialogVisible"
	[loading]="editAppDialogLoading"
	(dismiss)="editAppDialogVisible = false"
	(primaryButtonClick)="UpdateApp()"
	(defaultButtonClick)="editAppDialogVisible = false">

	<form>
		<!-- Name -->
		<div class="mb-3">
			<dav-textfield
				[value]="newName"
				[label]="locale.editAppDialog.nameTextfieldLabel"
				[placeholder]="locale.editAppDialog.nameTextfieldPlaceholder"
				[errorMessage]="editAppDialogNameError"
				(change)="newName = $event.detail.value">
			</dav-textfield>
		</div>

		<!-- Description -->
		<div class="mb-3">
			<dav-textarea
				[value]="newDescription"
				[label]="locale.editAppDialog.descriptionTextfieldLabel"
				[placeholder]="locale.editAppDialog.descriptionTextfieldPlaceholder"
				resize="vertical"
				[errorMessage]="editAppDialogDescriptionError"
				(change)="newDescription = $event.detail.value">
			</dav-textarea>
		</div>

		<!-- Weblink -->
		<div class="mb-3">
			<dav-textfield
				[value]="newWebLink"
				[label]="locale.editAppDialog.webLinkTextfieldLabel"
				[placeholder]="locale.editAppDialog.webLinkTextfieldPlaceholder"
				type="url"
				autocomplete="url"
				[errorMessage]="editAppDialogWebLinkError"
				(change)="newWebLink = $event.detail.value">
			</dav-textfield>
		</div>

		<!-- GooglePlayLink -->
		<div class="mb-3">
			<dav-textfield
				[value]="newGooglePlayLink"
				[label]="locale.editAppDialog.googlePlayLinkTextfieldLabel"
				[placeholder]="locale.editAppDialog.googlePlayLinkTextfieldPlaceholder"
				type="url"
				autocomplete="url"
				[errorMessage]="editAppDialogGooglePlayLinkError"
				(change)="newGooglePlayLink = $event.detail.value">
			</dav-textfield>
		</div>

		<!-- MicrosoftStoreLink -->
		<div class="mb-3">
			<dav-textfield
				[value]="newMicrosoftStoreLink"
				[label]="locale.editAppDialog.microsoftStoreLinkTextfieldLabel"
				[placeholder]="locale.editAppDialog.microsoftStoreLinkTextfieldPlaceholder"
				type="url"
				autocomplete="url"
				[errorMessage]="editAppDialogMicrosoftStoreLinkError"
				(change)="newMicrosoftStoreLink = $event.detail.value">
			</dav-textfield>
		</div>
	</form>
</dav-dialog>

<dav-dialog
	[header]="app.Published ? locale.publishAppDialog.unpublishHeader : locale.publishAppDialog.publishHeader"
	[primaryButtonText]="locale.publishAppDialog.confirm"
	[defaultButtonText]="locale.cancel"
	[visible]="publishAppDialogVisible"
	[loading]="publishAppDialogLoading"
	(dismiss)="publishAppDialogVisible = false"
	(primaryButtonClick)="PublishApp()"
	(defaultButtonClick)="publishAppDialogVisible = false">

	<p class="font-weight-light"
		style="max-width: 300px; font-size: 14px">
		{{ app.Published ? locale.publishAppDialog.unpublishSubtext : locale.publishAppDialog.publishSubtext }}
	</p>
</dav-dialog>

<dav-dialog
	[header]="locale.addTableDialog.header"
	[primaryButtonText]="locale.save"
	[defaultButtonText]="locale.cancel"
	[visible]="addTableDialogVisible"
	[loading]="addTableDialogLoading"
	(dismiss)="addTableDialogVisible = false"
	(primaryButtonClick)="AddTable()"
	(defaultButtonClick)="addTableDialogVisible = false">

	<form class="mb-3">
		<dav-textfield
			[label]="locale.addTableDialog.nameTextfieldLabel"
			[placeholder]="locale.addTableDialog.nameTextfieldPlaceholder"
			[errorMessage]="addTableDialogNewTableError"
			(change)="addTableDialogNewTableName = $event.detail.value"
			(enter)="AddTable()">
		</dav-textfield>
	</form>
</dav-dialog>

<dav-dialog
	[header]="locale.addApiDialog.header"
	[primaryButtonText]="locale.save"
	[defaultButtonText]="locale.cancel"
	[visible]="addApiDialogVisible"
	[loading]="addApiDialogLoading"
	(dismiss)="addApiDialogVisible = false"
	(primaryButtonClick)="AddApi()"
	(defaultButtonClick)="addApiDialogVisible = false">

	<form class="mb-3">
		<dav-textfield
			[label]="locale.addApiDialog.nameTextfieldLabel"
			[placeholder]="locale.addApiDialog.nameTextfieldPlaceholder"
			[errorMessage]="addApiDialogApiNameError"
			(change)="addApiDialogApiName = $event.detail.value"
			(enter)="AddApi()">
		</dav-textfield>
	</form>
</dav-dialog>