<div class="container navbar-margin pt-4 ms-motion-slideUpIn">
	<h1 class="font-weight-light text-center mb-3">{{ locale.title }}</h1>

	<!-- Password -->
	<div class="row">
		<div class="col-10 col-sm-6 col-md-5 mx-auto">
			<fab-text-field
				id="password-text-field"
				[(value)]="password"
				[label]="locale.passwordTextfieldLabel"
				[placeholder]="locale.passwordTextfieldPlaceholder"
				type="password"
				autocomplete="new-password">
			</fab-text-field>
		</div>
	</div>
	<br>
	<!-- Password confirmation -->
	<div class="row">
		<div class="col-10 col-sm-6 col-md-5 mx-auto">
			<fab-text-field
				id="password-confirmation-text-field"
				[(value)]="passwordConfirmation"
				[label]="locale.passwordConfirmationTextfieldLabel"
				[placeholder]="locale.passwordConfirmationTextfieldPlaceholder"
				type="password"
				autocomplete="new-password"
				(keydown.enter)="SavePassword()">
			</fab-text-field>
			<br>
			<fab-primary-button 
				(click)="SavePassword()"
				[disabled]="password.length < 7 || password.length > 25 || password != passwordConfirmation">
				{{ locale.save }}
			</fab-primary-button>
		</div>
	</div>
</div>