<div class="container navbar-margin pt-4 ms-motion-slideUpIn">
	<h1 class="font-weight-light text-center mb-3">{{ locale.title }}</h1>

	<form>
		<!-- Password -->
		<div class="row mb-3">
			<div class="col-10 col-sm-6 col-md-5 mx-auto">
				<fluent-text-field
					id="password-text-field"
					style="width: 100%"
					type="password"
					autocomplete="new-password"
					[placeholder]="locale.passwordTextfieldPlaceholder"
					[disabled]="loading"
					(input)="password = $event.target.value">
					{{ locale.passwordTextfieldLabel }}
				</fluent-text-field>
			</div>
		</div>

		<!-- Password confirmation -->
		<div class="row mb-3">
			<div class="col-10 col-sm-6 col-md-5 mx-auto">
				<fluent-text-field
					id="password-confirmation-text-field"
					class="mb-4"
					style="width: 100%"
					type="password"
					autocomplete="new-password"
					[placeholder]="locale.passwordConfirmationTextfieldPlaceholder"
					[disabled]="loading"
					(input)="passwordConfirmation = $event.target.value"
					(keydown.enter)="SavePassword()">
					{{ locale.passwordConfirmationTextfieldLabel }}
				</fluent-text-field>

				<div class="d-flex">
					<fluent-button
						appearance="accent"
						[disabled]="password.length < 7 || password.length > 25 || password != passwordConfirmation || loading"
						(click)="SavePassword()">
						{{ locale.save }}
					</fluent-button>

					<fluent-progress-ring
						style="width: 16px; height: 16px; margin: 8px 0px 0px 14px"
						*ngIf="loading">
					</fluent-progress-ring>
				</div>
			</div>
		</div>
	</form>
</div>