<div class="container navbar-margin pt-4 ms-motion-slideUpIn">
	<div class="mb-3">
		<dav-header
			[header]="locale.title"
			backButtonVisible
			size="big"
			(backButtonClick)="GoBack()">
		</dav-header>
	</div>

	<canvas baseChart
		style="max-width: 800px"
		class="mx-auto"
		[datasets]="userChartDataSets"
		[labels]="userChartLabels"
		chartType="line">
	</canvas>
	<p class="mx-auto mt-3 mb-5 pl-4 fw-light" style="max-width: 800px">{{ totalUsersText }}</p>

	<div class="row d-flex justify-content-center mb-5">
		<div class="my-4">
			<h3 class="text-center fw-light">{{ locale.plans }}</h3>
			<canvas baseChart
				style="height: 250px"
				[data]="plansChartData"
				[labels]="plansChartLabels"
				chartType="pie">
			</canvas>
		</div>

		<div class="my-4">
			<h3 class="text-center fw-light">{{ locale.confirmations }}</h3>
			<canvas baseChart
				style="height: 250px"
				[data]="confirmationsChartData"
				[labels]="confirmationsChartLabels"
				chartType="pie">
			</canvas>
		</div>
	</div>

	<h2 class="text-center fw-light mb-3">{{ locale.activeUsers }}</h2>

	<canvas baseChart
		class="mx-auto mb-5"
		style="max-width: 800px"
		[datasets]="activeUsersChartDataSets"
		[labels]="activeUsersChartLabels"
		chartType="line">
	</canvas>

	<canvas baseChart
		class="mx-auto"
		style="max-width: 500px"
		[datasets]="currentlyActiveUsersDataSets"
		[labels]="currentlyActiveUsersChartLabels"
		chartType="bar">
	</canvas>
</div>