<mat-sidenav-container>
	<mat-sidenav #sideNav [mode]="sideNavHidden ? 'over' : 'side'" [(opened)]="sideNavOpened">
		<mat-nav-list style="margin-top: 100px">
			<mat-list-item (click)="ShowGeneralMenu()" disableRipple [ngClass]="selectedMenu == 0 ? 'selected-menu-item' : ''" class="px-4">General</mat-list-item>
			<mat-list-item (click)="ShowPlansMenu()" disableRipple [ngClass]="selectedMenu == 1 ? 'selected-menu-item' : ''" class="px-4">Plans</mat-list-item>
			<mat-list-item (click)="ShowAppsMenu()" disableRipple [ngClass]="selectedMenu == 2 ? 'selected-menu-item' : ''" class="px-4">Apps</mat-list-item>
		</mat-nav-list>
	</mat-sidenav>
  	<mat-sidenav-content style="overflow: hidden">
		<!-- SideNav toggle button -->
		<button 
			
			class="btn btn-sm ml-2 icon-button"
			style="margin-top: 84px; height: 40px; width: 40px; font-size: 18px; position: absolute; z-index: 1"
			(click)="sideNavOpened = !sideNavOpened"
			*ngIf="sideNavHidden">
			<fab-icon iconName="More"></fab-icon>
		</button>

		<!-- General settings -->
		<div class="navbar-margin pt-4 ms-motion-slideUpIn" style="background-color: white" *ngIf="selectedMenu == 0">
			<h1 class="text-center font-weight-light mb-4">General Settings</h1>

			<div class="d-flex flex-column align-items-center">
				<div style="width: 250px; margin-right: -70px">
					<div class="mb-4" *ngIf="errorMessage.length > 0"><fab-message-bar [messageBarType]="errorMessageBarType">{{ errorMessage }}</fab-message-bar></div>
					<div class="mb-4" *ngIf="successMessage.length > 0"><fab-message-bar [messageBarType]="successMessageBarType">{{ successMessage }}</fab-message-bar></div>

					<!-- Avatar -->
					<img id="avatar-image" class="img mb-3 rounded" height="150" width="150" alt="Avatar" [src]="dataService.user.Avatar"><br>
					<fab-primary-button ngxFilePicker accept="image/png,image/jpeg" (filePick)="UpdateAvatar($event)">Upload Profile image</fab-primary-button>

					<!-- Username -->
					<div class="mt-4 d-flex" style="font-size: 18px">
						<fab-text-field 
							id="username-text-field"
							label="Username" 
							[(value)]="username" 
							placeholder="Username"
							[errorMessage]="usernameErrorMessage" 
							[styles]="textFieldStyles"
							type="text"
							autocomplete="username"
							(keydown)="UsernameTextFieldChanged($event)"></fab-text-field>

						<button 
							type="button" 
							class="btn btn-sm ml-2 icon-button"
							style="margin-top: 32px"
							(click)="SaveUsername()"
							*ngIf="username != dataService.user.Username && username.length >= 2 && username.length <= 25">
							<fab-icon iconName="Save"></fab-icon>
						</button>
					</div>

					<!-- Email -->
					<div class="mt-4 d-flex" style="font-size: 18px">
						<fab-text-field 
							id="email-text-field"
							label="Email" 
							[(value)]="email" 
							placeholder="Email"
							[errorMessage]="emailErrorMessage" 
							[styles]="textFieldStyles"
							type="email"
							autocomplete="email"
							(keydown)="EmailTextFieldChanged($event)"></fab-text-field>

						<button
							type="button"
							class="btn btn-sm ml-2 icon-button"
							style="margin-top: 32px"
							(click)="SaveEmail()"
							*ngIf="email != dataService.user.Email && email != newEmail && email.length > 3 && email.includes('@')">
							<fab-icon iconName="Save"></fab-icon>
						</button>
					</div>

					<!-- Password -->
					<div class="mt-4 d-flex flex-column" style="font-size: 18px">
						<fab-text-field 
							id="password-text-field"
							label="New Password" 
							[(value)]="password" 
							placeholder="Your new password"
							[errorMessage]="passwordErrorMessage"
							[styles]="textFieldStyles"
							type="password"
							autocomplete="new-password"
							(keydown)="PasswordTextFieldChanged($event)">
						</fab-text-field>

						<fab-text-field 
							id="password-confirmation-text-field"
							label="Password confirmation" 
							[(value)]="passwordConfirmation" 
							placeholder="Repeat your new password" 
							className="mt-3" 
							[styles]="textFieldStyles"
							type="password"
							autocomplete="new-password"
							(keydown)="PasswordTextFieldChanged($event)"
							*ngIf="password.length >= 7 && password.length <= 25">
						</fab-text-field>

						<fab-primary-button (click)="SavePassword()" *ngIf="password.length >= 7 && password.length <= 25" [disabled]="password != passwordConfirmation" className="mt-3">Save</fab-primary-button>
					</div>

					<div 
						style="border: 0.5px solid #dadada; width: 200px; margin: 20px 0px"
						*ngIf="!passwordConfirmationVisible"></div>
					<fab-primary-button 
						[styles]="deleteAccountButtonStyles" 
						*ngIf="!passwordConfirmationVisible"
						(click)="deleteAccountDialogVisible = true">Delete Account</fab-primary-button>
				</div>
			</div>
		</div>

		<!-- Plans -->
		<div class="navbar-margin pt-4 ms-motion-slideUpIn" style="background-color: white" *ngIf="selectedMenu == 1">
			<h1 class="text-center font-weight-light mb-3">Plans</h1>

			<div class="mx-auto my-3" style="width: 250px">
				<div *ngIf="errorMessage.length > 0"><fab-message-bar [messageBarType]="errorMessageBarType">{{ errorMessage }}</fab-message-bar></div>
				<div *ngIf="successMessage.length > 0"><fab-message-bar [messageBarType]="successMessageBarType">{{ successMessage }}</fab-message-bar></div>
			</div>

			<p class="mt-3" style="margin-left: 10%; margin-right: 10%" *ngIf="!dataService.user.Confirmed">
				Confirm your email address to change your plan and get more storage.<br>
				<a href="#" (click)="SendVerificationEmail()">Resend confirmation email</a>
			</p>

			<div class="d-flex flex-column align-items-center pb-4">
				<div style="width: 80%"><dav-website-pricing></dav-website-pricing></div>
			</div>
		</div>

		<!-- Apps -->
		<div class="navbar-margin pt-4 ms-motion-slideUpIn" style="background-color: white" *ngIf="selectedMenu == 2">
			<h1 class="text-center font-weight-light mb-4">Your Apps</h1>

			<div class="mx-auto" style="width: 250px">
				<div *ngIf="errorMessage.length > 0"><fab-message-bar [messageBarType]="errorMessageBarType">{{ errorMessage }}</fab-message-bar></div>
				<div *ngIf="successMessage.length > 0"><fab-message-bar [messageBarType]="successMessageBarType">{{ successMessage }}</fab-message-bar></div>
			</div>
			
			<div class="d-flex flex-column align-items-center mb-4 mt-4">
				<div style="width: 40%; max-width: 552px">
					<mat-progress-bar [value]="usedStoragePercent"></mat-progress-bar>
					<p class="mt-2">{{ BytesToGigabytes(dataService.user.UsedStorage) }} GB of {{ BytesToGigabytes(dataService.user.TotalStorage) }} GB used</p>
				</div>
			</div>

			<div class="mx-auto mb-4 px-4" style="max-width: 600px">
				<mat-accordion *ngFor="let app of dataService.user.Apps">
					<mat-expansion-panel>
						<mat-expansion-panel-header>
							<mat-panel-title style="font-size: 20px">{{ app.Name }}</mat-panel-title>
						</mat-expansion-panel-header>
	
						<div style="width: 60%; font-size: 16px" class="mx-auto mt-3">
							<mat-progress-bar></mat-progress-bar>
							<p class="mt-2">This app uses {{ BytesToGigabytes(app.UsedStorage) }} GB</p>
						</div>
	
						<fab-primary-button [styles]="removeAppButtonStyles" (click)="ShowRemoveAppDialog(app)">Remove App</fab-primary-button>
					</mat-expansion-panel>
				</mat-accordion>
			</div>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>

<fab-dialog 
	[hidden]="!deleteAccountDialogVisible" 
	[dialogContentProps]="deleteAccountDialogContent" 
	(onDismiss)="deleteAccountDialogVisible = false">
	<fab-dialog-footer>
		<fab-default-button (click)="deleteAccountDialogVisible = false">Cancel</fab-default-button>
		<fab-primary-button [styles]="deleteAccountDialogButtonStyles" (click)="DeleteAccount()">Delete Account</fab-primary-button>
	</fab-dialog-footer>
</fab-dialog>

<fab-dialog
	[hidden]="!removeAppDialogVisible"
	[dialogContentProps]="removeAppDialogContent"
	(onDismiss)="removeAppDialogVisible = false">
	<fab-dialog-footer>
		<fab-default-button (click)="removeAppDialogVisible = false">Cancel</fab-default-button>
		<fab-primary-button [styles]="removeAppDialogButtonStyles" (click)="RemoveApp()">Remove App</fab-primary-button>
	</fab-dialog-footer>
</fab-dialog>