<mat-sidenav-container>
	<mat-sidenav #sideNav mode="side" opened="true" style="margin-top: 100px">
		<mat-nav-list>
			<mat-list-item (click)="ShowGeneralMenu()" disableRipple [ngClass]="selectedMenu == 0 ? 'selected-menu-item' : ''" class="px-4">General</mat-list-item>
			<mat-list-item (click)="ShowPlansMenu()" disableRipple [ngClass]="selectedMenu == 1 ? 'selected-menu-item' : ''" class="px-4">Plans</mat-list-item>
			<mat-list-item (click)="ShowAppsMenu()" disableRipple [ngClass]="selectedMenu == 2 ? 'selected-menu-item' : ''" class="px-4">Apps</mat-list-item>
		</mat-nav-list>
	</mat-sidenav>
  	<mat-sidenav-content>
		<!-- General settings -->
		<div class="navbar-margin pt-4" style="background-color: white" *ngIf="selectedMenu == 0">
			<h1 class="text-center font-weight-light mb-4">General settings</h1>

			<div class="d-flex flex-column align-items-center ml-4">
				<div style="width: 220px">
					<div class="mb-4" *ngIf="errorMessage.length > 0"><fab-message-bar [messageBarType]="errorMessageBarType">{{ errorMessage }}</fab-message-bar></div>
					<div class="mb-4" *ngIf="successMessage.length > 0"><fab-message-bar [messageBarType]="successMessageBarType">{{ successMessage }}</fab-message-bar></div>

					<!-- Avatar -->
					<img id="avatar-image" class="img mb-3" height="150" width="150" alt="Avatar" [src]="dataService.user.Avatar"><br>
					<fab-primary-button ngxFilePicker accept="image/png,image/jpeg" (filePick)="UpdateAvatar($event)">Upload Profile image</fab-primary-button>

					<!-- Username -->
					<div class="mt-4 d-flex" style="font-size: 18px">
						<fab-text-field 
							label="Username" 
							[(value)]="username" 
							[errorMessage]="usernameErrorMessage" 
							type="text"
							autocomplete="username"
							(keydown)="UsernameTextFieldChanged($event)"></fab-text-field>

						<button 
							type="button" 
							class="btn btn-sm ml-2 icon-button"
							style="margin-top: 32px"
							(click)="SaveUsername()"
							*ngIf="username != dataService.user.Username && username.length >= 2 && username.length <= 25">
							<fab-icon iconName="Save"></fab-icon>
						</button>
					</div>

					<!-- Email -->
					<div class="mt-4 d-flex" style="font-size: 18px">
						<fab-text-field 
							label="Email" 
							[(value)]="email" 
							[errorMessage]="emailErrorMessage" 
							type="email"
							autocomplete="email"
							(keydown)="EmailTextFieldChanged($event)"></fab-text-field>

						<button
							type="button"
							class="btn btn-sm ml-2 icon-button"
							style="margin-top: 32px"
							(click)="SaveEmail()"
							*ngIf="email != dataService.user.Email && email != newEmail && email.length > 3 && email.includes('@')">
							<fab-icon iconName="Save"></fab-icon>
						</button>
					</div>

					<!-- Password -->
					<div class="mt-4 d-flex flex-column" style="font-size: 18px">
						<fab-text-field 
							label="New Password" 
							[(value)]="password" 
							placeholder="Your new password"
							[errorMessage]="passwordErrorMessage"
							type="password"
							autocomplete="new-password"
							(keydown)="PasswordTextFieldChanged($event)">
						</fab-text-field>

						<fab-text-field 
							label="Password confirmation" 
							[(value)]="passwordConfirmation" 
							placeholder="Repeat your new password" 
							className="mt-3" 
							type="password"
							autocomplete="new-password"
							(keydown)="PasswordTextFieldChanged($event)"
							*ngIf="password.length >= 7 && password.length <= 25">
						</fab-text-field>

						<fab-primary-button (click)="SavePassword()" *ngIf="password.length >= 7 && password.length <= 25" [disabled]="password != passwordConfirmation" className="mt-3">Save</fab-primary-button>
					</div>
				</div>
			</div>
		</div>

		<!-- Plans -->
		<div class="navbar-margin pt-4" style="background-color: white" *ngIf="selectedMenu == 1">
			<h1 class="text-center font-weight-light">Plans</h1>

			<div class="d-flex flex-column align-items-center py-4">
				<div style="width: 80%"><dav-website-pricing></dav-website-pricing></div>
			</div>
		</div>

		<!-- Apps -->
		<div class="navbar-margin pt-4" style="background-color: white" *ngIf="selectedMenu == 2">
			<h1 class="text-center font-weight-light mb-5">Your Apps</h1>

			<div class="d-flex flex-column align-items-center">
				<div style="width: 40%">
					<mat-progress-bar [value]="usedStoragePercent"></mat-progress-bar>
					<p class="mt-2">0 GB of 2 GB used</p>
				</div>
			</div>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>