.selected-menu-item{
	background-color: #2e3c7c;
	color: white;
}

.selected-menu-item:hover{
	background-color: #2e3c7c !important;
}

.mat-drawer-container{
	background-color: white;
}

th {
	min-width: 140px;
}

td {
	height: 48px;
}

th:not(first-child), td:not(:first-child) {
	text-align: center;
}