<mat-sidenav-container>
	<mat-sidenav #sideNav [mode]="sideNavHidden ? 'over' : 'side'" [(opened)]="sideNavOpened">
		<mat-nav-list style="margin-top: 100px">
			<!-- General -->
			<mat-list-item
				class="px-4"
				[ngClass]="selectedMenu == 0 ? 'selected-menu-item' : ''"
				disableRipple
				(click)="ShowGeneralMenu()">
				{{ locale.sideNav.general }}
			</mat-list-item>

			<!-- Plans -->
			<mat-list-item
				class="px-4"
				[ngClass]="selectedMenu == 1 ? 'selected-menu-item' : ''"
				disableRipple
				(click)="ShowPlansMenu()">
				{{ locale.sideNav.plans }}
			</mat-list-item>

			<!-- Apps -->
			<mat-list-item
				class="px-4"
				[ngClass]="selectedMenu == 2 ? 'selected-menu-item' : ''"
				disableRipple
				(click)="ShowAppsMenu()">
				{{ locale.sideNav.apps }}
			</mat-list-item>

			<!-- Provider -->
			<mat-list-item
				class="px-4"
				[ngClass]="selectedMenu == 3 ? 'selected-menu-item' : ''"
				disableRipple
				(click)="ShowProviderMenu()"
				*ngIf="dataService.dav.user.Provider">
				{{ locale.sideNav.provider }}
			</mat-list-item>
		</mat-nav-list>
	</mat-sidenav>
  	<mat-sidenav-content style="overflow: hidden">
		<!-- SideNav toggle button -->
		<button 
			class="btn btn-sm ms-2 icon-button"
			style="margin-top: 84px; height: 40px; width: 40px; font-size: 18px; position: absolute; z-index: 1"
			(click)="sideNavOpened = !sideNavOpened"
			*ngIf="sideNavHidden">
			<i class="ms-Icon ms-Icon--More" aria-hidden="true" style="font-size: 18px"></i>
		</button>

		<!-- General settings -->
		<div class="settings-container page-container pt-4 ms-motion-slideUpIn" *ngIf="selectedMenu == 0">
			<h1 class="text-center fw-light mb-4">{{ locale.general.title }}</h1>

			<div class="d-flex flex-column align-items-center">
				<div style="width: 280px; margin-right: -70px">
					<div class="mb-4" *ngIf="errorMessage.length > 0">
						<dav-message-bar type="danger">
							{{ errorMessage }}
						</dav-message-bar>
					</div>

					<div class="mb-4" *ngIf="successMessage.length > 0">
						<dav-message-bar type="success">
							{{ successMessage}}
						</dav-message-bar>
					</div>

					<!-- Profile image -->
					<div
						class="mb-3"
						style="position: relative; display: inline-block">

						<dav-progress-ring
							style="position: absolute; width: 20px; height: 20px; margin-top: 65px; margin-left: 65px;"
							*ngIf="profileImageLoading">
						</dav-progress-ring>

						<img
							id="profile-image"
							[style.opacity]="profileImageLoading ? 0.4 : 1"
							class="img rounded"
							height="150"
							width="150"
							[alt]="locale.general.profileImageAlt"
							[src]="profileImageContent">
					</div>

					<dav-button
						ngxFilePicker
						accept="image/png,image/jpeg"
						type="accent"
						[disabled]="profileImageLoading"
						(filePick)="UpdateProfileImage($event)">
						{{ locale.general.uploadProfileImage }}
					</dav-button>

					<!-- First name -->
					<form>
						<div class="mt-4 d-flex" style="font-size: 18px">
							<dav-textfield
								style="width: 200px"
								[label]="locale.general.firstNameTextfieldLabel"
								[value]="firstName"
								[placeholder]="locale.general.firstNameTextfieldPlaceholder"
								[disabled]="firstNameLoading"
								autocomplete="given-name"
								[errorMessage]="firstNameErrorMessage"
								(change)="FirstNameTextFieldChanged($event.detail.value)"
								(enter)="SaveFirstName()">
							</dav-textfield>

							<button
								type="button"
								class="btn btn-sm ms-2 icon-button"
								style="margin-top: 28px"
								[disabled]="firstNameLoading"
								(click)="SaveFirstName()"
								*ngIf="firstName != dataService.dav.user.FirstName && firstName.length >= 2 && firstName.length <= 20">
								<i class="ms-Icon ms-Icon--Save" aria-hidden="true" style="font-size: 16px"></i>
							</button>

							<dav-progress-ring
								style="margin: 33px 0px 0px 14px; width: 16px; height: 16px"
								*ngIf="firstNameLoading">
							</dav-progress-ring>
						</div>
					</form>

					<!-- Email -->
					<form>
						<div class="mt-4 d-flex" style="font-size: 18px">
							<dav-textfield
								style="width: 200px"
								[label]="locale.general.emailTextfieldLabel"
								[value]="email"
								[placeholder]="locale.general.emailTextfieldPlaceholder"
								[disabled]="emailLoading"
								type="email"
								autocomplete="email"
								[errorMessage]="emailErrorMessage"
								(change)="email = $event.detail.value; ClearMessages()"
								(enter)="SaveEmail()">
							</dav-textfield>

							<button
								type="button"
								class="btn btn-sm ms-2 icon-button"
								style="margin-top: 28px"
								[disabled]="emailLoading"
								(click)="SaveEmail()"
								*ngIf="email != dataService.dav.user.Email && email != newEmail && email.length > 3 && email.includes('@')">
								<i class="ms-Icon ms-Icon--Save" aria-hidden="true" style="font-size: 16px"></i>
							</button>

							<dav-progress-ring
								style="margin: 33px 0px 0px 14px; width: 16px; height: 16px"
								*ngIf="emailLoading">
							</dav-progress-ring>
						</div>
					</form>

					<!-- Password -->
					<form>
						<div class="mt-4 d-flex flex-column" style="font-size: 18px">
							<dav-textfield
								style="width: 200px"
								[label]="locale.general.passwordTextfieldLabel"
								[value]="password"
								[placeholder]="locale.general.passwordTextfieldPlaceholder"
								[disabled]="passwordLoading"
								type="password"
								autocomplete="new-password"
								[errorMessage]="passwordErrorMessage"
								(change)="PasswordTextFieldChanged($event.detail.value)">
							</dav-textfield>

							<div class="mt-3" style="width: 200px">
								<dav-textfield
									[label]="locale.general.passwordConfirmationTextfieldLabel"
									[value]="passwordConfirmation"
									[placeholder]="locale.general.passwordConfirmationTextfieldPlaceholder"
									[disabled]="passwordLoading"
									type="password"
									autocomplete="new-password"
									(change)="PasswordConfirmationTextFieldChanged($event.detail.value)"
									(enter)="SavePassword()"
									*ngIf="passwordConfirmationVisible">
								</dav-textfield>
							</div>

							<div class="d-flex">
								<dav-button
									class="mt-3"
									type="accent"
									[disabled]="password != passwordConfirmation || passwordLoading"
									(click)="SavePassword()"
									*ngIf="password.length >= 7 && password.length <= 25">
									{{ locale.save }}
								</dav-button>

								<dav-progress-ring
									style="margin: 24px 0px 0px 14px; width: 16px; height: 16px"
									*ngIf="passwordLoading">
								</dav-progress-ring>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		<!-- Plans -->
		<div class="settings-container page-container pt-4 ms-motion-slideUpIn" *ngIf="selectedMenu == 1">
			<h1
				class="text-center fw-light"
				[ngClass]="dataService.dav.user.Plan == 0 ? 'mb-3' : 'mb-0'">
				{{ locale.plans.title }}
			</h1>

			<div class="mx-auto my-2" style="width: 250px" *ngIf="errorMessage.length > 0 || successMessage.length > 0">
				<dav-message-bar
					type="danger"
					*ngIf="errorMessage.length > 0">
					{{ errorMessage }}
				</dav-message-bar>

				<dav-message-bar
					type="success"
					*ngIf="successMessage.length > 0">
					{{ successMessage }}
				</dav-message-bar>
			</div>

			<p class="mt-3" style="margin-left: 10%; margin-right: 10%" *ngIf="!dataService.dav.user.Confirmed">
				{{ locale.plans.confirmEmailText }}<br>
				<a href="#" (click)="SendConfirmationEmail()">{{ locale.plans.confirmEmailLink }}</a>
			</p>

			<div class="d-flex flex-column align-items-center pb-4">
				<div style="width: 80%">
					<!-- Cards for payment method and subscription status -->
					<div class="d-flex flex-wrap">
						<div
							class="card shadow mt-3"
							style="display: inline-block; margin: 0px 15px"
							*ngIf="paymentMethodLast4 && paymentMethodExpirationMonth && paymentMethodExpirationYear">

							<div class="card-body">
								<h5 class="fw-light mb-3">{{ pricingLocale.paymentMethodCardHeader }}</h5>

								<div class="d-flex">
									<i class="ms-Icon ms-Icon--PaymentCard me-2" style="font-size: 20px; margin-top: -3px" aria-hidden="true"></i>
									<p style="margin-bottom: 0px;">**** **** **** {{ paymentMethodLast4 }}</p>
								</div>

								<p style="margin-bottom: 8px">{{ pricingLocale.cardExpires }} {{ paymentMethodExpirationMonth }} / {{ paymentMethodExpirationYear }}</p>

								<dav-button
									style="float: right; margin-bottom: 16px"
									(click)="ShowPaymentMethodDialog()">
									{{ pricingLocale.edit }}
								</dav-button>
							</div>
						</div>

						<div
							class="card shadow mt-3"
							style="display: inline-block; margin: 0px 15px"
							*ngIf="dataService.dav.user.Plan > 0 && periodEndDate">

							<div class="card-body">
								<h5 class="fw-light">{{ dataService.dav.user.SubscriptionStatus == 0 ? pricingLocale.nextPayment : pricingLocale.subscriptionEnd }}</h5>
								<p>{{ periodEndDate }}</p>

								<div class="d-flex" style="float: right; margin-bottom: 16px; margin-top: 27px">
									<dav-progress-ring
										style="width: 16px; height: 16px; margin: 8px 14px 0px 0px"
										*ngIf="continueOrCancelSubscriptionLoading">
									</dav-progress-ring>

									<dav-button
										[disabled]="continueOrCancelSubscriptionLoading"
										(click)="ContinueOrCancelButtonClick()">
										{{ dataService.dav.user.SubscriptionStatus == 0 ? pricingLocale.cancelSubscription : pricingLocale.continueSubscription }}
									</dav-button>
								</div>
							</div>
						</div>
					</div>

					<!-- Plans overview -->
					<div class="d-flex justify-content-center mt-4" *ngIf="!mobilePlansTable">
						<table style="max-width: 800px;" [style.fontSize.rem]="plansTableFontSize">
							<thead>
								<tr>
									<th></th>
									<th class="fs-4 fw-normal">Free</th>
									<th class="fs-4 fw-normal">Plus</th>
									<th class="fs-4 fw-normal">Pro</th>
								</tr>
								<tr>
									<th></th>
									<th></th>
									<th class="fs-6 fw-light">{{ pricingLocale.plus.price }}</th>
									<th class="fs-6 fw-light">{{ pricingLocale.pro.price }}</th>
								</tr>
							</thead>
							<tbody>
								<tr class="border-top">
									<td>{{ pricingLocale.onlineStorage }}</td>
									<td>{{ pricingLocale.free.storage }}</td>
									<td>{{ pricingLocale.plus.storage }}</td>
									<td>{{ pricingLocale.pro.storage }}</td>
								</tr>
								<tr class="border-top">
									<td>{{ pricingLocale.accessData }}</td>
									<td><fa-icon [icon]="faCheck"></fa-icon></td>
									<td><fa-icon [icon]="faCheck"></fa-icon></td>
									<td><fa-icon [icon]="faCheck"></fa-icon></td>
								</tr>
								<tr class="border-top">
									<td>{{ pricingLocale.noAds }}</td>
									<td><fa-icon [icon]="faCheck"></fa-icon></td>
									<td><fa-icon [icon]="faCheck"></fa-icon></td>
									<td><fa-icon [icon]="faCheck"></fa-icon></td>
								</tr>
								<tr class="border-top">
									<td class="fs-4 fw-light pt-4 pb-1">UniversalSoundboard</td>
								</tr>
								<tr class="border-top">
									<td class="ps-3">{{ pricingLocale.universalsoundboard.hotkeyFeature }}</td>
									<td></td>
									<td><fa-icon [icon]="faCheck"></fa-icon></td>
									<td><fa-icon [icon]="faCheck"></fa-icon></td>
								</tr>
								<tr class="border-top">
									<td class="ps-3">{{ pricingLocale.universalsoundboard.outputDeviceFeature }}</td>
									<td></td>
									<td><fa-icon [icon]="faCheck"></fa-icon></td>
									<td><fa-icon [icon]="faCheck"></fa-icon></td>
								</tr>

								<tr class="border-top">
									<td></td>
									<td class="pt-3">
										<div class="d-flex justify-content-center">
											<dav-progress-ring
												style="width: 16px; height: 16px; margin: 8px 14px 0px 0px"
												*ngIf="freePlanLoading">
											</dav-progress-ring>

											<button
												class="btn btn-sm btn-outline-dark"
												type="button"
												disabled
												*ngIf="dataService.dav.user.Plan == 0">
												{{ pricingLocale.currentPlan }}
											</button>

											<button
												class="btn btn-sm btn-outline-danger"
												type="button"
												[disabled]="dataService.dav.user.SubscriptionStatus == 1 || freePlanLoading || plusPlanLoading || proPlanLoading"
												(click)="PlanButtonClick(0)"
												*ngIf="dataService.dav.user.Plan == 1 || dataService.dav.user.Plan == 2">
												{{ pricingLocale.downgrade }}
											</button>
										</div>
									</td>
									<td class="pt-3">
										<div class="d-flex justify-content-center">
											<dav-progress-ring
												style="width: 16px; height: 16px; margin: 8px 14px 0px 0px"
												*ngIf="plusPlanLoading">
											</dav-progress-ring>

											<button
												class="btn btn-sm btn-dark"
												type="button"
												[disabled]="freePlanLoading || plusPlanLoading || proPlanLoading"
												(click)="PlanButtonClick(1)"
												*ngIf="dataService.dav.user.Plan == 0">
												{{ pricingLocale.upgrade }}
											</button>

											<button
												class="btn btn-sm btn-outline-dark"
												type="button"
												disabled
												*ngIf="dataService.dav.user.Plan == 1">
												{{ pricingLocale.currentPlan }}
											</button>

											<button
												class="btn btn-sm btn-outline-danger"
												type="button"
												[disabled]="dataService.dav.user.SubscriptionStatus == 1 || freePlanLoading || plusPlanLoading || proPlanLoading"
												(click)="PlanButtonClick(1)"
												*ngIf="dataService.dav.user.Plan == 2">
												{{ pricingLocale.downgrade }}
											</button>
										</div>
									</td>
									<td class="pt-3">
										<div class="d-flex justify-content-center">
											<dav-progress-ring
												style="width: 16px; height: 16px; margin: 8px 14px 0px 0px"
												*ngIf="proPlanLoading">
											</dav-progress-ring>

											<button
												class="btn btn-sm btn-dark"
												type="button"
												[disabled]="dataService.dav.user.SubscriptionStatus == 1 || freePlanLoading || plusPlanLoading || proPlanLoading"
												(click)="PlanButtonClick(2)"
												*ngIf="dataService.dav.user.Plan == 0 || dataService.dav.user.Plan == 1">
												{{ pricingLocale.upgrade }}
											</button>

											<button
												class="btn btn-sm btn-outline-dark"
												type="button"
												disabled
												*ngIf="dataService.dav.user.Plan == 2">
												{{ pricingLocale.currentPlan }}
											</button>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div class="d-flex flex-column justify-content-center mt-4" *ngIf="mobilePlansTable">
						<table [style.fontSize.rem]="plansTableFontSize">
							<thead>
								<tr>
									<th></th>
									<th class="fs-4 fw-normal">Free</th>
								</tr>
							</thead>
							<tbody>
								<tr class="border-top">
									<td>{{ pricingLocale.onlineStorage }}</td>
									<td>{{ pricingLocale.free.storage }}</td>
								</tr>
								<tr class="border-top">
									<td>{{ pricingLocale.accessData }}</td>
									<td><fa-icon [icon]="faCheck"></fa-icon></td>
								</tr>
								<tr class="border-top">
									<td>{{ pricingLocale.noAds }}</td>
									<td><fa-icon [icon]="faCheck"></fa-icon></td>
								</tr>

								<tr class="border-top">
									<td></td>
									<td class="d-flex justify-content-center pt-3">
										<dav-progress-ring
											style="width: 16px; height: 16px; margin: 8px 14px 0px 0px"
											*ngIf="freePlanLoading">
										</dav-progress-ring>

										<button
											class="btn btn-sm btn-outline-dark"
											type="button"
											disabled
											*ngIf="dataService.dav.user.Plan == 0">
											{{ pricingLocale.currentPlan }}
										</button>

										<button
											class="btn btn-sm btn-outline-danger"
											type="button"
											[disabled]="dataService.dav.user.SubscriptionStatus == 1 || freePlanLoading || plusPlanLoading || proPlanLoading"
											(click)="PlanButtonClick(0)"
											*ngIf="dataService.dav.user.Plan == 1 || dataService.dav.user.Plan == 2">
											{{ pricingLocale.downgrade }}
										</button>
									</td>
								</tr>
							</tbody>
						</table>

						<table class="mt-5" [style.fontSize.rem]="plansTableFontSize">
							<thead>
								<tr>
									<th></th>
									<th class="fs-4 fw-normal">Plus</th>
								</tr>
								<tr>
									<th></th>
									<th class="fs-6 fw-light">{{ pricingLocale.plus.price }}</th>
								</tr>
							</thead>
							<tbody>
								<tr class="border-top">
									<td>{{ pricingLocale.onlineStorage }}</td>
									<td>{{ pricingLocale.plus.storage }}</td>
								</tr>
								<tr class="border-top">
									<td>{{ pricingLocale.accessData }}</td>
									<td><fa-icon [icon]="faCheck"></fa-icon></td>
								</tr>
								<tr class="border-top">
									<td>{{ pricingLocale.noAds }}</td>
									<td><fa-icon [icon]="faCheck"></fa-icon></td>
								</tr>
								<tr class="border-top">
									<td class="fs-4 fw-light pt-4 pb-1">UniversalSoundboard</td>
								</tr>
								<tr class="border-top">
									<td class="ps-3">{{ pricingLocale.universalsoundboard.hotkeyFeature }}</td>
									<td><fa-icon [icon]="faCheck"></fa-icon></td>
								</tr>
								<tr class="border-top">
									<td class="ps-3">{{ pricingLocale.universalsoundboard.outputDeviceFeature }}</td>
									<td><fa-icon [icon]="faCheck"></fa-icon></td>
								</tr>

								<tr class="border-top">
									<td></td>
									<td class="d-flex justify-content-center pt-3">
										<dav-progress-ring
											style="width: 16px; height: 16px; margin: 8px 14px 0px 0px"
											*ngIf="plusPlanLoading">
										</dav-progress-ring>

										<button
											class="btn btn-sm btn-dark"
											type="button"
											[disabled]="freePlanLoading || plusPlanLoading || proPlanLoading"
											(click)="PlanButtonClick(1)"
											*ngIf="dataService.dav.user.Plan == 0">
											{{ pricingLocale.upgrade }}
										</button>

										<button
											class="btn btn-sm btn-outline-dark"
											type="button"
											disabled
											*ngIf="dataService.dav.user.Plan == 1">
											{{ pricingLocale.currentPlan }}
										</button>

										<button
											class="btn btn-sm btn-outline-danger"
											type="button"
											[disabled]="dataService.dav.user.SubscriptionStatus == 1 || freePlanLoading || plusPlanLoading || proPlanLoading"
											(click)="PlanButtonClick(1)"
											*ngIf="dataService.dav.user.Plan == 2">
											{{ pricingLocale.downgrade }}
										</button>
									</td>
								</tr>
							</tbody>
						</table>

						<table class="mt-5" [style.fontSize.rem]="plansTableFontSize">
							<thead>
								<tr>
									<th></th>
									<th class="fs-4 fw-normal">Pro</th>
								</tr>
								<tr>
									<th></th>
									<th class="fs-6 fw-light">{{ pricingLocale.pro.price }}</th>
								</tr>
							</thead>
							<tbody>
								<tr class="border-top">
									<td>{{ pricingLocale.onlineStorage }}</td>
									<td>{{ pricingLocale.pro.storage }}</td>
								</tr>
								<tr class="border-top">
									<td>{{ pricingLocale.accessData }}</td>
									<td><fa-icon [icon]="faCheck"></fa-icon></td>
								</tr>
								<tr class="border-top">
									<td>{{ pricingLocale.noAds }}</td>
									<td><fa-icon [icon]="faCheck"></fa-icon></td>
								</tr>
								<tr class="border-top">
									<td class="fs-4 fw-light pt-4 pb-1">UniversalSoundboard</td>
								</tr>
								<tr class="border-top">
									<td class="ps-3">{{ pricingLocale.universalsoundboard.hotkeyFeature }}</td>
									<td><fa-icon [icon]="faCheck"></fa-icon></td>
								</tr>
								<tr class="border-top">
									<td class="ps-3">{{ pricingLocale.universalsoundboard.outputDeviceFeature }}</td>
									<td><fa-icon [icon]="faCheck"></fa-icon></td>
								</tr>

								<tr class="border-top">
									<td></td>
									<td class="d-flex justify-content-center pt-3">
										<dav-progress-ring
											style="width: 16px; height: 16px; margin: 8px 14px 0px 0px"
											*ngIf="proPlanLoading">
										</dav-progress-ring>

										<button
											class="btn btn-sm btn-dark"
											type="button"
											[disabled]="dataService.dav.user.SubscriptionStatus == 1 || freePlanLoading || plusPlanLoading || proPlanLoading"
											(click)="PlanButtonClick(2)"
											*ngIf="dataService.dav.user.Plan == 0 || dataService.dav.user.Plan == 1">
											{{ pricingLocale.upgrade }}
										</button>

										<button
											class="btn btn-sm btn-outline-dark"
											type="button"
											disabled
											*ngIf="dataService.dav.user.Plan == 2">
											{{ pricingLocale.currentPlan }}
										</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<!-- Apps -->
		<div class="settings-container page-container pt-4 ms-motion-slideUpIn" *ngIf="selectedMenu == 2">
			<h1 class="text-center fw-light mb-4">{{ locale.apps.title }}</h1>

			<div class="mx-auto" style="width: 250px" *ngIf="errorMessage.length > 0 || successMessage.length > 0">
				<dav-message-bar
					type="danger"
					*ngIf="errorMessage.length > 0">
					{{ errorMessage }}
				</dav-message-bar>

				<dav-message-bar
					type="success"
					*ngIf="successMessage.length > 0">
					{{ successMessage }}
				</dav-message-bar>
			</div>

			<div class="d-flex flex-column align-items-center mb-4 mt-4">
				<div style="width: 40%; max-width: 552px">
					<mat-progress-bar [value]="usedStoragePercent"></mat-progress-bar>
					<p class="mt-2">{{ locale.apps.totalStorageUsed.replace("{0}", BytesToGigabytes(dataService.dav.user.UsedStorage).toString()).replace("{1}", BytesToGigabytes(dataService.dav.user.TotalStorage).toString()) }}</p>
				</div>
			</div>

			<div class="mx-auto mb-4 px-4" style="max-width: 600px">
				<mat-accordion *ngFor="let app of dataService.dav.user.Apps; let i = index">
					<mat-expansion-panel>
						<mat-expansion-panel-header>
							<mat-panel-title style="font-size: 20px">{{ app.Name }}</mat-panel-title>
						</mat-expansion-panel-header>
	
						<div style="width: 60%; font-size: 16px" class="mx-auto mt-3">
							<mat-progress-bar [value]="appsUsedStoragePercent[i]"></mat-progress-bar>
							<p class="mt-2">{{ locale.apps.appStorageUsed.replace("{0}", BytesToGigabytes(app.UsedStorage).toString()) }}</p>
						</div>
					</mat-expansion-panel>
				</mat-accordion>
			</div>
		</div>

		<!-- Provider -->
		<div class="settings-container container page-container pt-4 ms-motion-slideUpIn mb-4" *ngIf="selectedMenu == 3">
			<div *ngIf="!providerStripeAccount">
				<h1 class="text-center fw-light mb-3">{{ locale.provider.title }}</h1>

				<!-- Message bar for errors -->
				<div class="mx-auto mb-3" style="width: 250px" *ngIf="errorMessage.length > 0">
					<dav-message-bar
						type="danger"
						*ngIf="errorMessage.length > 0">
						{{ errorMessage }}
					</dav-message-bar>
				</div>

				<p class="text-center fw-light" style="font-size: 20px">{{ locale.provider.subTitle }}</p>

				<p class="text-center fw-light mt-3 mb-1" style="font-size: 20px">{{ locale.provider.supportedApps }}: </p>
				<div class="d-flex justify-content-center">
					<a class="text-center fw-light" style="color: black; font-size: 19px" href="https://pocketlib.dav-apps.tech" target="blank">PocketLib</a>
				</div>

				<div class="mt-5 d-flex flex-column align-items-center">
					<p class="text-center fw-light">{{ locale.provider.setupExplanation }}</p>

					<dav-button
						type="accent"
						(click)="startStripeSetupDialogVisible = true">
						{{ locale.provider.startSetup }}
					</dav-button>
				</div>
			</div>

			<div *ngIf="providerStripeAccount">
				<h1 class="text-center fw-light mb-3">{{ locale.provider.dashboardTitle }}</h1>

				<div class="mx-auto my-2" style="width: 300px">
					<!-- Message bar for currently due requirements -->
					<dav-message-bar
						type="warning"
						*ngIf="providerStripeAccount.requirements.currently_due.length > 0 && !(providerStripeAccount.requirements.currently_due.length == 1 && providerStripeAccount.requirements.currently_due[0] == 'external_account')">
						{{ locale.provider.missingInformationWarningText }}
						<br><a href="#" (click)="StartStripeProviderUpdate()">{{ locale.provider.missingInformationWarningLink }}</a>
					</dav-message-bar>

					<!-- Message bar for missing bank account -->
					<dav-message-bar
						type="warning"
						*ngIf="providerStripeAccount.requirements.currently_due.length == 1 && providerStripeAccount.requirements.currently_due[0] == 'external_account'">
						{{ locale.provider.missingBankAccountWarningText }}
					</dav-message-bar>

					<!-- Message bar for errors -->
					<dav-message-bar
						type="danger"
						*ngIf="errorMessage.length > 0">
						{{ errorMessage }}
					</dav-message-bar>

					<!-- Message bar for success -->
					<dav-message-bar
						type="success"
						*ngIf="successMessage.length > 0">
						{{ successMessage }}
					</dav-message-bar>
				</div>

				<div class="row ms-2">
					<!-- Card for the provider -->
					<div
						class="card shadow mt-3"
						style="display: inline-block; margin: 0px 15px">
						<div class="card-body">
							<h5 class="fw-light mb-3">{{ locale.provider.aboutYou }}</h5>
							<p>{{ providerStripeAccount.individual.first_name }} {{ providerStripeAccount.individual.last_name }}</p>

							<dav-button
								style="float: right; margin-bottom: 16px"
								(click)="OpenStripeOnboardingPage(true)">
								{{ locale.provider.editDetails }}
							</dav-button>
						</div>
					</div>

					<!-- Card for the bank account -->
					<div
						class="card shadow mt-3"
						style="display: inline-block; margin: 0px 15px">
						<div class="card-body">
							<h5 class="fw-light mb-3">{{ locale.provider.yourPayoutAccount }}</h5>

							<div *ngIf="providerStripeAccount.external_accounts.data.length > 0">
								<p style="margin-bottom: 8px">{{ providerBankAccount.bank_name }}</p>
								<div class="d-flex">
									<i class="ms-Icon ms-Icon--BankSolid me-2" style="font-size: 20px; margin-top: -3px" aria-hidden="true"></i>
									<p style="margin-bottom: 8px">**** {{ providerBankAccount.last4 }}</p>
								</div>
							</div>

							<div *ngIf="providerStripeAccount.external_accounts.data.length == 0">
								<p class="fw-light" style="margin-bottom: 8px">{{ locale.provider.noAccountProvided }}</p>
							</div>

							<dav-button
								style="float: right; margin-bottom: 16px"
								(click)="ShowBankAccountDialog()">
								{{ locale.edit }}
							</dav-button>
						</div>
					</div>

					<!-- Card for the payout -->
					<div
						class="card shadow mt-3"
						style="display: inline-block; margin: 0px 15px"
						*ngIf="providerStripeBalance">
						<div class="card-body">
							<h5 class="fw-light mb-3">{{ locale.provider.nextPayout }}</h5>

							<p>{{ providerStripeBalance }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>

<dav-dialog
	[header]="paymentFormDialogLocale.header"
	[primaryButtonText]="paymentFormDialogLocale.save"
	[defaultButtonText]="paymentFormDialogLocale.cancel"
	[visible]="paymentFormDialogVisible"
	[loading]="paymentFormDialogLoading"
	(dismiss)="paymentFormDialogVisible = false"
	(primaryButtonClick)="SavePaymentMethod()"
	(defaultButtonClick)="paymentFormDialogVisible = false">

	<div class="mb-3" style="min-width: 340px">
		<dav-website-payment-form
			#paymentForm
			[showSaveButton]="false"
			(completed)="PaymentMethodChanged()"
			(loadingStart)="paymentFormDialogLoading = true"
			(loadingEnd)="paymentFormDialogLoading = false">
		</dav-website-payment-form>
	</div>
</dav-dialog>

<dav-dialog
	[header]="changePlanDialogHeader"
	[primaryButtonText]="pricingLocale.continue"
	[defaultButtonText]="pricingLocale.cancel"
	[visible]="changePlanDialogVisible"
	(dismiss)="changePlanDialogVisible = false; plusPlanLoading = false; proPlanLoading = false;"
	(primaryButtonClick)="SetStripeSubscription()"
	(defaultButtonClick)="changePlanDialogVisible = false; plusPlanLoading = false; proPlanLoading = false;">

	<p class="fw-light"
		style="max-width: 300px; font-size: 14px">
		{{ changePlanDialogDescription }}
	</p>
</dav-dialog>

<dav-dialog
	[header]="locale.provider.startStripeSetupDialog.header"
	[primaryButtonText]="locale.provider.startSetup"
	[defaultButtonText]="locale.cancel"
	[visible]="startStripeSetupDialogVisible"
	[loading]="startStripeSetupDialogLoading"
	[maxWidth]="370"
	(dismiss)="startStripeSetupDialogVisible = false"
	(primaryButtonClick)="StartStripeProviderSetup()"
	(defaultButtonClick)="startStripeSetupDialogVisible = false">

	<p [innerHTML]="locale.provider.startStripeSetupDialog.text1"></p>

	<div style="width: 175px">
		<dav-dropdown
			[options]="startStripeSetupDialogDropdownOptions"
			[selectedKey]="startStripeSetupDialogDropdownSelectedKey"
			(change)="StartStripeSetupDialogDropdownChange($event.detail.key)">
		</dav-dropdown>
	</div>

	<p class="mt-3" [innerHTML]="locale.provider.startStripeSetupDialog.text2"></p>
</dav-dialog>

<dav-dialog
	[header]="locale.provider.bankAccountDialog.header"
	[primaryButtonText]="locale.save"
	[defaultButtonText]="locale.cancel"
	[visible]="bankAccountDialogVisible"
	[loading]="bankAccountDialogLoading"
	[maxWidth]="340"
	(dismiss)="bankAccountDialogVisible = false"
	(primaryButtonClick)="BankAccountDialogSave()"
	(defaultButtonClick)="bankAccountDialogVisible = false">

	<dav-website-bank-account-form
		class="mb-3"
		#bankAccountForm
		[stripeCustomAccountId]="providerStripeAccountId"
		(completed)="BankAccountDialogCompleted($event)"
		(loadingStart)="bankAccountDialogLoading = true"
		(loadingEnd)="bankAccountDialogLoading = false">
	</dav-website-bank-account-form>
</dav-dialog>