<div class="container page-container pt-4 ms-motion-slideUpIn">
	<h1
		class="text-center fw-light mb-3">
		{{ locale.title }}
	</h1>

	<div class="d-flex justify-content-center mt-3" *ngIf="!mobilePlansTable">
		<table style="max-width: 800px;" [style.fontSize.rem]="plansTableFontSize">
			<thead>
				<tr>
					<th></th>
					<th class="fs-4 fw-normal">Free</th>
					<th class="fs-4 fw-normal">Plus</th>
					<th class="fs-4 fw-normal">Pro</th>
				</tr>
				<tr>
					<th></th>
					<th></th>
					<th class="fs-6 fw-light">{{ pricingLocale.plus.price }}</th>
					<th class="fs-6 fw-light">{{ pricingLocale.pro.price }}</th>
				</tr>
			</thead>
			<tbody>
				<tr class="border-top">
					<td>{{ pricingLocale.onlineStorage }}</td>
					<td>{{ pricingLocale.free.storage }}</td>
					<td>{{ pricingLocale.plus.storage }}</td>
					<td>{{ pricingLocale.pro.storage }}</td>
				</tr>
				<tr class="border-top">
					<td>{{ pricingLocale.accessData }}</td>
					<td><fa-icon [icon]="faCheck"></fa-icon></td>
					<td><fa-icon [icon]="faCheck"></fa-icon></td>
					<td><fa-icon [icon]="faCheck"></fa-icon></td>
				</tr>
				<tr class="border-top">
					<td>{{ pricingLocale.noAds }}</td>
					<td><fa-icon [icon]="faCheck"></fa-icon></td>
					<td><fa-icon [icon]="faCheck"></fa-icon></td>
					<td><fa-icon [icon]="faCheck"></fa-icon></td>
				</tr>
				<tr class="border-top">
					<td class="fs-4 fw-light pt-4 pb-1">UniversalSoundboard</td>
				</tr>
				<tr class="border-top">
					<td class="ps-3">{{ pricingLocale.universalsoundboard.hotkeyFeature }}</td>
					<td></td>
					<td><fa-icon [icon]="faCheck"></fa-icon></td>
					<td><fa-icon [icon]="faCheck"></fa-icon></td>
				</tr>
				<tr class="border-top">
					<td class="ps-3">{{ pricingLocale.universalsoundboard.outputDeviceFeature }}</td>
					<td></td>
					<td><fa-icon [icon]="faCheck"></fa-icon></td>
					<td><fa-icon [icon]="faCheck"></fa-icon></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="d-flex flex-column justify-content-center mt-3" *ngIf="mobilePlansTable">
		<table [style.fontSize.rem]="plansTableFontSize">
			<thead>
				<tr>
					<th></th>
					<th class="fs-4 fw-normal">Free</th>
				</tr>
			</thead>
			<tbody>
				<tr class="border-top">
					<td>{{ pricingLocale.onlineStorage }}</td>
					<td>{{ pricingLocale.free.storage }}</td>
				</tr>
				<tr class="border-top">
					<td>{{ pricingLocale.accessData }}</td>
					<td><fa-icon [icon]="faCheck"></fa-icon></td>
				</tr>
				<tr class="border-top">
					<td>{{ pricingLocale.noAds }}</td>
					<td><fa-icon [icon]="faCheck"></fa-icon></td>
				</tr>
			</tbody>
		</table>

		<table class="mt-5" [style.fontSize.rem]="plansTableFontSize">
			<thead>
				<tr>
					<th></th>
					<th class="fs-4 fw-normal">Plus</th>
				</tr>
				<tr>
					<th></th>
					<th class="fs-6 fw-light">{{ pricingLocale.plus.price }}</th>
				</tr>
			</thead>
			<tbody>
				<tr class="border-top">
					<td>{{ pricingLocale.onlineStorage }}</td>
					<td>{{ pricingLocale.plus.storage }}</td>
				</tr>
				<tr class="border-top">
					<td>{{ pricingLocale.accessData }}</td>
					<td><fa-icon [icon]="faCheck"></fa-icon></td>
				</tr>
				<tr class="border-top">
					<td>{{ pricingLocale.noAds }}</td>
					<td><fa-icon [icon]="faCheck"></fa-icon></td>
				</tr>
				<tr class="border-top">
					<td class="fs-4 fw-light pt-4 pb-1">UniversalSoundboard</td>
				</tr>
				<tr class="border-top">
					<td class="ps-3">{{ pricingLocale.universalsoundboard.hotkeyFeature }}</td>
					<td><fa-icon [icon]="faCheck"></fa-icon></td>
				</tr>
				<tr class="border-top">
					<td class="ps-3">{{ pricingLocale.universalsoundboard.outputDeviceFeature }}</td>
					<td><fa-icon [icon]="faCheck"></fa-icon></td>
				</tr>
			</tbody>
		</table>

		<table class="mt-5" [style.fontSize.rem]="plansTableFontSize">
			<thead>
				<tr>
					<th></th>
					<th class="fs-4 fw-normal">Pro</th>
				</tr>
				<tr>
					<th></th>
					<th class="fs-6 fw-light">{{ pricingLocale.pro.price }}</th>
				</tr>
			</thead>
			<tbody>
				<tr class="border-top">
					<td>{{ pricingLocale.onlineStorage }}</td>
					<td>{{ pricingLocale.pro.storage }}</td>
				</tr>
				<tr class="border-top">
					<td>{{ pricingLocale.accessData }}</td>
					<td><fa-icon [icon]="faCheck"></fa-icon></td>
				</tr>
				<tr class="border-top">
					<td>{{ pricingLocale.noAds }}</td>
					<td><fa-icon [icon]="faCheck"></fa-icon></td>
				</tr>
				<tr class="border-top">
					<td class="fs-4 fw-light pt-4 pb-1">UniversalSoundboard</td>
				</tr>
				<tr class="border-top">
					<td class="ps-3">{{ pricingLocale.universalsoundboard.hotkeyFeature }}</td>
					<td><fa-icon [icon]="faCheck"></fa-icon></td>
				</tr>
				<tr class="border-top">
					<td class="ps-3">{{ pricingLocale.universalsoundboard.outputDeviceFeature }}</td>
					<td><fa-icon [icon]="faCheck"></fa-icon></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>