<div class="container page-container pt-4 ms-motion-slideUpIn">
	<div class="mb-3">
		<dav-header
			[header]="locale.title.replace('{0}', app.Name)"
			backButtonVisible
			size="big"
			(backButtonClick)="GoBack()">
		</dav-header>
	</div>

	<div
		class="mx-auto"
		style="max-width: 800px">
		<canvas
			baseChart
			#userChart="base-chart"
			[data]="userChartData"
			type="line">
		</canvas>
	</div>

	<p class="mx-auto mt-3 mb-5 ps-4 fw-light" style="max-width: 800px">{{ totalUsersText }}</p>

	<h2 class="text-center fw-light mb-3">{{ locale.activeUsers }}</h2>

	<div
		class="mx-auto mb-5"
		style="max-width: 800px">
		<canvas
			baseChart
			#activeUsersChart="base-chart"
			[data]="activeUsersChartData"
			type="line">
		</canvas>
	</div>
</div>