<div class="container navbar-margin pt-4 ms-motion-slideUpIn">
	<div class="d-flex mb-3">
		<div class="mx-auto d-flex">
			<button
				type="button"
				class="btn"
				style="height: 35px; width: 41px; padding: 2px 0px 0px 0px; margin-top: 7px"
				(click)="GoBack()">
				<i class="ms-Icon ms-Icon--Back" aria-hidden="true" style="font-size: 19px"></i>
			</button>
			<h1 class="text-left ml-3 font-weight-light">{{ locale.title.replace('{0}', app.Name) }}</h1>
		</div>
	</div>

	<canvas baseChart
		style="max-width: 800px"
		class="mx-auto"
		[datasets]="userChartDataSets"
		[labels]="userChartLabels"
		chartType="line">
	</canvas>
	<p class="mx-auto mt-3 mb-5 pl-4 font-weight-light" style="max-width: 800px">{{ totalUsersText }}</p>

	<h2 class="text-center font-weight-light mb-3">{{ locale.activeUsers }}</h2>

	<canvas baseChart
		class="mx-auto mb-5"
		style="max-width: 800px"
		[datasets]="activeUsersChartDataSets"
		[labels]="activeUsersChartLabels"
		chartType="line">
	</canvas>

	<canvas baseChart
		class="mx-auto"
		style="max-width: 500px"
		[datasets]="currentlyActiveUsersDataSets"
		[labels]="currentlyActiveUsersChartLabels"
		chartType="bar">
	</canvas>
</div>