<div class="mb-3 mx-auto" style="max-width: 300px" *ngIf="errorMessage.length > 0"><fab-message-bar [messageBarType]="errorMessageBarType">{{ errorMessage }}</fab-message-bar></div>
<div class="mb-3 mx-auto" style="max-width: 300px" *ngIf="successMessage.length > 0"><fab-message-bar [messageBarType]="successMessageBarType">{{ successMessage }}</fab-message-bar></div>

<div class="row">
	<div class="card shadow mt-3" style="display: inline-block; margin: 0px 15px" *ngIf="paymentMethodLast4 && paymentMethodExpirationMonth && paymentMethodExpirationYear">
		<div class="card-body">
			<h5 class="font-weight-light mb-3">{{ locale.paymentMethodCardHeader }}</h5>
	
			<div class="d-flex">
				<i class="ms-Icon ms-Icon--PaymentCard mr-2" style="font-size: 20px; margin-top: -3px" aria-hidden="true"></i>
				<p style="margin-bottom: 0px;">**** **** **** {{ paymentMethodLast4 }}</p>
			</div>
			<p style="margin-bottom: 8px">{{ locale.cardExpires }} {{ paymentMethodExpirationMonth }} / {{ paymentMethodExpirationYear }}</p>
	
			<fab-default-button [styles]="editPaymentMethodButtonStyles" (click)="EditPaymentMethodClick()">{{ locale.edit }}</fab-default-button>
		</div>
	</div>
	
	<div class="card shadow mt-3" style="display: inline-block; margin: 0px 15px">
		<div class="card-body">
			<h5 class="font-weight-light">{{ locale.nextPayment }}</h5>
			<p>{{ periodEndDate }}</p>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-4 mt-3 mb-4">
		<div class="card text-center shadow">
			<div class="card-body">
				<h4 class="card-title font-weight-light" style="margin-bottom: 40px">Free</h4>
				<ul class="list-group">
					<li class="list-group-item border-left-0 border-right-0">{{ locale.free.storage }}</li>
					<li class="list-group-item border-left-0 border-right-0">{{ locale.useAllApps }}</li>
					<li class="list-group-item border-left-0 border-right-0">{{ locale.accessData }}</li>
					<li class="list-group-item border-left-0 border-right-0">{{ locale.noAds }}</li>
				</ul>
				<br>
				<button type="button" class="btn btn-primary" routerLink="/signup" *ngIf="!dataService.user.IsLoggedIn">{{ locale.signup }}</button>
				<button type="button" class="btn btn-outline-primary" disabled *ngIf="dataService.user.IsLoggedIn && dataService.user.Plan == 0">{{ locale.currentPlan }}</button>
				<button type="button" class="btn btn-outline-danger" *ngIf="dataService.user.IsLoggedIn && (dataService.user.Plan == 1 || dataService.user.Plan == 2)" (click)="PlanButtonClick(0)">{{ locale.downgrade }}</button>
			</div>
		</div>
	</div>

	<div class="col-md-4 mt-3 mb-4">
		<div class="card text-center shadow">
			<div class="card-body">
				<h4 class="card-title font-weight-light">Plus</h4>
				<h6 class="card-subtitle text-muted font-weight-light" style="margin-bottom: 1rem">{{ locale.plus.price }}</h6>
				<ul class="list-group">
					<li class="list-group-item border-left-0 border-right-0">{{ locale.plus.storage }}</li>
					<li class="list-group-item border-left-0 border-right-0">{{ locale.useAllApps }}</li>
					<li class="list-group-item border-left-0 border-right-0">{{ locale.accessData }}</li>
					<li class="list-group-item border-left-0 border-right-0">{{ locale.noAds }}</li>
					<li class="list-group-item border-left-0 border-right-0">{{ locale.plus.features }}</li>
				</ul>
				<br>
				<button type="button" class="btn btn-primary" routerLink="/signup" *ngIf="!dataService.user.IsLoggedIn">{{ locale.signup }}</button>
				<button type="button" class="btn btn-primary" [disabled]="!dataService.user.Confirmed" *ngIf="dataService.user.IsLoggedIn && dataService.user.Plan == 0" (click)="PlanButtonClick(1)">{{ locale.upgrade }}</button>
				<button type="button" class="btn btn-outline-primary" disabled *ngIf="dataService.user.IsLoggedIn && dataService.user.Plan == 1">{{ locale.currentPlan }}</button>
				<button type="button" class="btn btn-outline-danger" *ngIf="dataService.user.IsLoggedIn && dataService.user.Plan == 2" (click)="PlanButtonClick(1)">{{ locale.downgrade }}</button>
			</div>
		</div>
	</div>

	<div class="col-md-4 mt-3">
		<div class="card text-center shadow">
			<div class="card-body">
				<h4 class="card-title font-weight-light">Pro</h4>
				<h6 class="card-subtitle text-muted font-weight-light" style="margin-bottom: 1rem;">{{ locale.pro.price }}</h6>
				<ul class="list-group">
					<li class="list-group-item border-left-0 border-right-0">{{ locale.pro.storage }}</li>
					<li class="list-group-item border-left-0 border-right-0">{{ locale.useAllApps }}</li>
					<li class="list-group-item border-left-0 border-right-0">{{ locale.accessData }}</li>
					<li class="list-group-item border-left-0 border-right-0">{{ locale.noAds }}</li>
					<li class="list-group-item border-left-0 border-right-0">{{ locale.plus.features }}</li>
					<li class="list-group-item border-left-0 border-right-0">{{ locale.pro.features }}</li>
				</ul>
				<br>
				<button type="button" class="btn btn-primary" routerLink="/signup" *ngIf="!dataService.user.IsLoggedIn">{{ locale.signup }}</button>
				<button type="button" class="btn btn-primary" [disabled]="!dataService.user.Confirmed" *ngIf="dataService.user.IsLoggedIn && (dataService.user.Plan == 0 || dataService.user.Plan == 1)" (click)="PlanButtonClick(2)">{{ locale.upgrade }}</button>
				<button type="button" class="btn btn-outline-primary" disabled *ngIf="dataService.user.IsLoggedIn && dataService.user.Plan == 2">{{ locale.currentPlan }}</button>
			</div>
		</div>
	</div>
</div>

<fab-dialog
	[hidden]="!paymentFormDialogVisible"
	[dialogContentProps]="paymentFormDialogContent"
	(onDismiss)="paymentFormDialogVisible = paymentFormLoading">
	<dav-website-payment-form #paymentForm [showSaveButton]="false" (completed)="PaymentMethodInputCompleted()" (loadingStart)="paymentFormLoading = true" (loadingEnd)="paymentFormLoading = false"></dav-website-payment-form>

	<fab-dialog-footer>
		<fab-default-button (click)="paymentFormDialogVisible = false" [disabled]="paymentFormLoading">{{ locale.cancel }}</fab-default-button>
		<fab-primary-button id="paymentFormDialogSaveButton" [styles]="paymentFormSaveDialogButtonStyles" [disabled]="paymentFormLoading" (click)="PaymentDialogSaveClick()">{{ locale.save }}</fab-primary-button>
	</fab-dialog-footer>
</fab-dialog>