<div class="row">
	<div class="col-md-4 mt-3 mb-4">
		<div class="card text-center shadow">
			<div class="card-body">
				<h4 class="card-title font-weight-light" style="margin-bottom: 40px">Free</h4>
				<ul class="list-group">
					<li class="list-group-item border-left-0 border-right-0">2 GB of storage</li>
					<li class="list-group-item border-left-0 border-right-0">Use all our apps</li>
					<li class="list-group-item border-left-0 border-right-0">Access your data on any device</li>
					<li class="list-group-item border-left-0 border-right-0">No ads</li>
				</ul>
				<br>
				<button type="button" class="btn btn-primary" routerLink="/signup" *ngIf="!dataService.user.IsLoggedIn">Sign up</button>
				<button type="button" class="btn btn-outline-primary" disabled *ngIf="dataService.user.IsLoggedIn && dataService.user.Plan == 0">Current plan</button>
				<button type="button" class="btn btn-outline-danger" *ngIf="dataService.user.IsLoggedIn && (dataService.user.Plan == 1 || dataService.user.Plan == 2)">Downgrade</button>
			</div>
		</div>
	</div>

	<div class="col-md-4 mt-3 mb-4">
		<div class="card text-center shadow">
			<div class="card-body">
				<h4 class="card-title font-weight-light">Plus</h4>
				<h6 class="card-subtitle text-muted font-weight-light" style="margin-bottom: 1rem">3 € per month</h6>
				<ul class="list-group">
					<li class="list-group-item border-left-0 border-right-0">15 GB of storage</li>
					<li class="list-group-item border-left-0 border-right-0">Use all our apps</li>
					<li class="list-group-item border-left-0 border-right-0">Access your data on any device</li>
					<li class="list-group-item border-left-0 border-right-0">No ads</li>
					<li class="list-group-item border-left-0 border-right-0">Use all Plus features in our apps</li>
				</ul>
				<br>
				<button type="button" class="btn btn-primary" routerLink="/signup" *ngIf="!dataService.user.IsLoggedIn">Sign up</button>
				<button type="button" class="btn btn-primary" [disabled]="!dataService.user.Confirmed" *ngIf="dataService.user.IsLoggedIn && dataService.user.Plan == 0">Upgrade</button>
				<button type="button" class="btn btn-outline-primary" disabled *ngIf="dataService.user.IsLoggedIn && dataService.user.Plan == 1">Current plan</button>
				<button type="button" class="btn btn-outline-danger" *ngIf="dataService.user.IsLoggedIn && dataService.user.Plan == 2">Downgrade</button>
			</div>
		</div>
	</div>

	<div class="col-md-4 mt-3">
		<div class="card text-center shadow">
			<div class="card-body">
				<h4 class="card-title font-weight-light">Pro</h4>
				<h6 class="card-subtitle text-muted font-weight-light" style="margin-bottom: 1rem;">10 € per month</h6>
				<ul class="list-group">
					<li class="list-group-item border-left-0 border-right-0">50 GB of storage</li>
					<li class="list-group-item border-left-0 border-right-0">Use all our apps</li>
					<li class="list-group-item border-left-0 border-right-0">Access your data on any device</li>
					<li class="list-group-item border-left-0 border-right-0">No ads</li>
					<li class="list-group-item border-left-0 border-right-0">Use all Plus features in our apps</li>
					<li class="list-group-item border-left-0 border-right-0">Use all Pro features in our apps</li>
				</ul>
				<br>
				<button type="button" class="btn btn-primary" routerLink="/signup" *ngIf="!dataService.user.IsLoggedIn">Sign up</button>
				<button type="button" class="btn btn-primary" [disabled]="!dataService.user.Confirmed" *ngIf="dataService.user.IsLoggedIn && (dataService.user.Plan == 0 || dataService.user.Plan == 1)">Upgrade</button>
				<button type="button" class="btn btn-outline-primary" disabled *ngIf="dataService.user.IsLoggedIn && dataService.user.Plan == 2">Current plan</button>
			</div>
		</div>
	</div>
</div>