<form (submit)="SaveCard()">
	<div class="form-row d-flex flex-column">
		<label for="card-element" class="form-check-label">{{ locale.header }}</label>
		<div id="card-element" style="max-width: 400px" class="my-2">
			<!-- A Stripe Element will be inserted here. -->
		</div>
	
		<!-- Used to display form errors. -->
		<div id="card-errors" role="alert" class="mb-1" style="color: #dc3545; font-size: 80%; margin-top: -.25rem" *ngIf="errorMessage">{{ errorMessage }}</div>
	</div>
	
	<button class="btn btn-primary btn-sm mt-2" (click)="SaveCard()" *ngIf="showSaveButton" [disabled]="loading">{{ locale.save }}</button>
</form>