<div class="container navbar-margin pt-4 ms-motion-slideUpIn">
	<h1 class="font-weight-light text-center mb-3">{{ locale.title }}</h1>

	<div class="row">
		<div class="col-10 col-sm-6 col-md-5 mx-auto">
			<p class="mb-3">{{ locale.description }}</p>

			<fab-text-field
				id="email-text-field"
				[(value)]="email"
				[label]="locale.emailTextfieldLabel"
				[placeholder]="locale.emailTextfieldPlaceholder"
				[errorMessage]="errorMessage"
				type="email"
				autocomplete="email"
				(keydown.enter)="SendPasswordResetEmail()">
			</fab-text-field>
			<br>
			<div class="d-flex">
				<fab-primary-button (click)="SendPasswordResetEmail()" [disabled]="email.length < 3 || !email.includes('@') || loading">{{ locale.send }}</fab-primary-button>
				<div style="margin-top: 8px; margin-left: 14px" *ngIf="loading"><fab-spinner [size]="spinnerSize"></fab-spinner></div>
			</div>
		</div>
	</div>
</div>