<div class="container navbar-margin pt-4 ms-motion-slideUpIn">
	<h1 class="font-weight-light text-center mb-3">Reset your password</h1>

	<div class="row">
		<div class="col-10 col-sm-6 col-md-5 mx-auto">
			<div class="mx-auto mb-3" style="width: 300px" *ngIf="errorMessage.length > 0"><fab-message-bar [messageBarType]="messageBarType">{{ errorMessage }}</fab-message-bar></div>

			<p class="mb-3">Enter the email address of your account and we will send you a link to reset your password.</p>

			<fab-text-field
				id="email-text-field"
				[(value)]="email"
				placeholder="Enter your email address"
				label="Email"
				type="email"
				autocomplete="email"
				(keydown.enter)="SendPasswordResetEmail()">
			</fab-text-field>
			<br>
			<fab-primary-button (click)="SendPasswordResetEmail()">Send</fab-primary-button>
		</div>
	</div>
</div>