<!DOCTYPE html>
<html lang="<%= lang %>">
	<head>
		<title>dav</title>
		<base href="/" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="env" content="<%= process.env.ENV %>" />
		<meta name="csrf-token" content="<%= csrfToken %>" />

		<link rel="icon" href="/assets/favicon.ico" type="image/x-icon" />
		<link
			rel="stylesheet"
			href="/node_modules/bootstrap/dist/css/bootstrap.min.css"
		/>
		<link
			rel="stylesheet"
			href="/node_modules/office-ui-fabric-core/dist/css/fabric.min.css"
		/>
		<link rel="stylesheet" href="../../styles.scss" />
		<link rel="stylesheet" href="login-page.scss" />

		<script type="module" src="login-page.ts" defer async></script>
		<script
			async
			defer
			src="https://scripts.simpleanalyticscdn.com/latest.js"
		></script>
	</head>
	<body dir="ltr">
		<% if (websiteLogin) { %>
		<include
			src="src/components/navbar-component/navbar-component.html"
		></include
		><% } %>

		<div
			class="container d-flex flex-column align-items-center"
			style="margin-top: 100px"
		>
			<img
				src="/assets/images/dav-logo.png"
				width="60"
				height="60"
				alt="dav Logo"
			/>

			<h2 class="text-center fw-light my-4"><%= locale.title %></h2>

			<form class="w-100">
				<!-- Email -->
				<div class="row">
					<div class="col-10 col-sm-8 col-md-6 col-lg-5 mx-auto">
						<!-- Error messages -->
						<div class="mb-3 d-none">
							<dav-message-bar id="error-message-bar"></dav-message-bar>
						</div>

						<dav-textfield
							id="email-textfield"
							label="<%= locale.emailTextfieldLabel %>"
							placeholder="<%= locale.emailTextfieldPlaceholder %>"
							type="email"
							autocomplete="email"
							autofocus
						></dav-textfield>
					</div>
				</div>

				<!-- Password -->
				<div class="row mt-3">
					<div class="col-10 col-sm-8 col-md-6 col-lg-5 mx-auto">
						<dav-textfield
							id="password-textfield"
							label="<%= locale.passwordTextfieldLabel %>"
							placeholder="<%= locale.passwordTextfieldPlaceholder %>"
							type="password"
							autocomplete="current-password"
						></dav-textfield>
					</div>
				</div>

				<div class="row mt-3">
					<div class="col-10 col-sm-8 col-md-6 col-lg-5 mx-auto">
						<div class="d-flex">
							<dav-button id="login-button" type="accent">
								<%= locale.login %>
							</dav-button>

							<dav-progress-ring
								id="login-button-progress-ring"
								class="d-none"
								style="width: 16px; height: 16px; margin: 6px 0 0 14px"
							></dav-progress-ring>

							<a
								id="forgot-password-link"
								class="text-center ms-auto d-none"
								style="padding-top: 4px"
								href="/forgot-password"
								tabindex="-1"
							>
								<%= locale.forgotPassword %>
							</a>

							<dav-button
								id="signup-button"
								class="ms-auto <%= websiteLogin ? 'd-none' : '' %>"
							>
								<%= locale.signup %>
							</dav-button>
						</div>
					</div>
				</div>

				<div class="d-flex justify-content-center mt-3 d-none">
					<a
						id="forgot-password-link-mobile"
						class="text-center"
						href="/forgot-password"
						target="<%= websiteLogin ? '' : 'blank' %>"
						tabindex="-1"
					>
						<%= locale.forgotPassword %>
					</a>
				</div>
			</form>

			<% if (user != null) { %>
			<div
				class="mx-auto"
				style="
					width: 60%;
					border: 1px solid #eaeaea;
					margin-top: 56px;
					margin-bottom: 56px;
				"
			></div>

			<div
				id="login-as-button-container"
				class="d-flex align-items-center mx-auto"
			>
				<button
					id="login-as-button"
					class="list-group-item list-group-item-action shadow-sm"
				>
					<div class="d-flex">
						<img
							class="me-3 rounded"
							src="<%= user.profileImage.url %>"
							alt="<%= locale.profileImageOf.replace('{0}', user.firstName) %>"
							width="70"
							height="70"
						/>

						<h5 class="my-auto fw-light">
							<%= locale.loginAs.replace('{0}', user.firstName) %>
						</h5>
					</div>
				</button>

				<dav-progress-ring
					id="login-as-button-progress-ring"
					class="d-none"
					style="width: 24px; height: 24px; margin-left: 20px"
				></dav-progress-ring>
			</div>
			<% } %>
		</div>

		<dav-dialog
			id="expired-session-dialog"
			header="<%= sessionExpiredDialogLocale.header %>"
			primaryButtonText="<%= sessionExpiredDialogLocale.reload %>"
		>
			<p class="fw-light" style="max-width: 300px; font-size: 16px">
				<%= sessionExpiredDialogLocale.description %>
			</p>
		</dav-dialog>
	</body>
</html>
