<!DOCTYPE html>
<html lang="<%= lang %>">
	<head>
		<title>dav</title>
		<base href="/" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="env" content="<%= process.env.ENV %>" />
		<meta name="csrf-token" content="<%= csrfToken %>" />

		<link rel="icon" href="/assets/favicon.ico" type="image/x-icon" />
		<link
			rel="stylesheet"
			href="/node_modules/bootstrap/dist/css/bootstrap.min.css"
		/>
		<link
			rel="stylesheet"
			href="/node_modules/office-ui-fabric-core/dist/css/fabric.min.css"
		/>
		<link rel="stylesheet" href="../../styles.scss" />
		<link rel="stylesheet" href="app-page.scss" />

		<script type="module" src="app-page.ts" defer async></script>
		<script
			async
			defer
			src="https://scripts.simpleanalyticscdn.com/latest.js"
		></script>
	</head>
	<body>
		<include
			src="src/components/navbar-component/navbar-component.html"
		></include>

		<div class="container page-container">
			<div class="mb-3">
				<dav-header id="header" backButtonVisible size="big"></dav-header>
			</div>

			<div>
				<p id="description" class="mb-3 fw-light"></p>

				<dav-button id="statistics-button" type="accent">
					<%= locale.statistics %>
				</dav-button>

				<dav-button id="edit-button"> <%= locale.edit %></dav-button>

				<h5 class="fw-light mt-4"><%= locale.published %></h5>

				<dav-toggle id="published-toggle"></dav-toggle>
			</div>

			<div class="d-flex">
				<div class="mx-4">
					<h3 class="fw-light text-center mb-3 mt-4">
						<%= locale.tables %>
					</h3>

					<ul id="tables-list" class="list-group"></ul>
				</div>

				<div class="mx-4">
					<h3 class="fw-light text-center mb-3 mt-4">
						<%= locale.apis %>
					</h3>

					<ul id="apis-list" class="list-group"></ul>
				</div>
			</div>
		</div>

		<dav-dialog
			id="edit-app-dialog"
			header="<%= locale.editAppDialog.header %>"
			primaryButtonText="<%= locale.save %>"
			defaultButtonText="<%= locale.cancel %>"
		>
			<form>
				<!-- Name -->
				<div class="mb-3">
					<dav-textfield
						id="edit-app-dialog-name-textfield"
						label="<%= locale.editAppDialog.nameTextfieldLabel %>"
						placeholder="<%= locale.editAppDialog.nameTextfieldPlaceholder %>"
					></dav-textfield>
				</div>

				<!-- Description -->
				<div class="mb-3">
					<dav-textarea
						id="edit-app-dialog-description-textarea"
						label="<%= locale.editAppDialog.descriptionTextfieldLabel %>"
						placeholder="<%= locale.editAppDialog.descriptionTextfieldPlaceholder %>"
						resize="vertical"
					></dav-textarea>
				</div>

				<!-- WebLink -->
				<div class="mb-3">
					<dav-textfield
						id="edit-app-dialog-weblink-textfield"
						label="<%= locale.editAppDialog.webLinkTextfieldLabel %>"
						placeholder="<%= locale.editAppDialog.webLinkTextfieldPlaceholder %>"
						type="url"
						autocomplete="url"
					></dav-textfield>
				</div>

				<!-- GooglePlayLink -->
				<div class="mb-3">
					<dav-textfield
						id="edit-app-dialog-googleplaylink-textfield"
						label="<%= locale.editAppDialog.googlePlayLinkTextfieldLabel %>"
						placeholder="<%= locale.editAppDialog.googlePlayLinkTextfieldPlaceholder %>"
						type="url"
						autocomplete="url"
					></dav-textfield>
				</div>

				<!-- MicrosoftStoreLink -->
				<div class="mb-3">
					<dav-textfield
						id="edit-app-dialog-microsoftstorelink-textfield"
						label="<%= locale.editAppDialog.microsoftStoreLinkTextfieldLabel %>"
						placeholder="<%= locale.editAppDialog.microsoftStoreLinkTextfieldPlaceholder %>"
						type="url"
						autocomplete="url"
					></dav-textfield>
				</div>
			</form>
		</dav-dialog>

		<dav-dialog id="publish-app-dialog">
			<p id="publish-app-dialog-text" class="fw-light"></p>
		</dav-dialog>
	</body>
</html>
