<nav 
	id="navbar" 
	class="navbar navbar-expand-sm navbar-light fixed-top"
	style="position: fixed; height: 56px; padding: 0px; z-index: 2; transition: all 0.3s;"
	[ngClass]="offsetTop > 100 && width > 575 ? 'acrylic light shadow' : ''"
	*ngIf="dataService.showNavbar">

	<div class="container fixed-top" [ngClass]="width <= 575 ? 'acrylic light shadow' : ''" >
		<!-- Branding -->
		<a routerLink="/"
			class="navbar-brand ms-3" 
			style="color: black; font-size: 35px; font-weight: bold; font-family: mvboli, 'MV Boli', Kalam"
			[style.marginTop.px]="width > 575 ? -3 : 0">
			dav
		</a>

		<!-- Toggle button -->
		<button
			class="navbar-toggler me-3" 
			style="margin-top: -7px"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbar-responsive"
			aria-controls="navbar-responsive"
			aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- List items -->
		<div
			#navbarResponsive
			id="navbar-responsive"
			class="collapse navbar-collapse"
			style="margin-top: -4px; font-family: 'Segoe UI'; justify-content: right">

			<!-- Not logged in -->
			<ul class="navbar-nav" *ngIf="!dataService.dav.isLoggedIn" (click)="NavbarLinkClick()">
				<li class="nav-item">
					<a routerLink="/pricing" class="nav-link navbar-item" (click)="NavbarLinkClick()">{{ locale.navbar.pricing }}</a>
				</li>
				<li class="nav-item">
					<a routerLink="/login" class="nav-link navbar-item" (click)="NavbarLinkClick()">{{ locale.navbar.login }}</a>
				</li>
				<li class="nav-item">
					<a routerLink="/signup" class="nav-link navbar-item" (click)="NavbarLinkClick()">{{ locale.navbar.signup }}</a>
				</li>
			</ul>

			<!-- Logged in -->
			<ul class="navbar-nav" *ngIf="dataService.dav.isLoggedIn">
				<li class="nav-item" *ngIf="dataService.dav.user.Dev">
					<a routerLink="/dev" class="nav-link navbar-item" (click)="NavbarLinkClick()">{{ locale.navbar.devDashboard }}</a>
				</li>
				<li class="nav-item">
					<a routerLink="/apps" class="nav-link navbar-item" (click)="NavbarLinkClick()">{{ locale.navbar.allApps }}</a>
				</li>
				<li class="nav-item">
					<a routerLink="/user" class="nav-link navbar-item" (click)="NavbarLinkClick()">{{ dataService.dav.user.FirstName }}</a>
				</li>
				<li class="nav-item">
					<a href="#logout" class="nav-link navbar-item" (click)="Logout()">{{ locale.navbar.logout }}</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<router-outlet></router-outlet>

<div class="footer py-4" *ngIf="dataService.showFooter">
	<a routerLink="/" (click)="FooterLinkClick()">
		<picture>
			<source srcset="/assets/images/dav-logo-text.webp" type="image/webp" />
			<img
				style="margin: 25px"
				src="/assets/images/dav-logo-text.png"
				width="200">
		</picture>
	</a>

	<div class="d-flex">
		<a class="btn footer-icon-button"
			href="https://twitter.com/dav_apps"
			target="blank">
			<fa-icon [icon]="faTwitter"></fa-icon>
		</a>

		<a class="btn footer-icon-button"
			href="https://github.com/dav-apps"
			target="blank">
			<fa-icon [icon]="faGithub"></fa-icon>
		</a>
	</div>

	<p class="footer-links-container my-4">
		<a href="https://blog.dav-apps.tech" target="blank">
			Blog
		</a>
		|
		<a routerLink="/contact" (click)="FooterLinkClick()">
			{{ locale.footer.contact }}
		</a>
		|
		<a routerLink="/privacy" (click)="FooterLinkClick()">
			{{ locale.footer.privacy }}
		</a>
	</p>

	<p style="color: white">Copyright &copy; {{ year }}</p>
</div>