<nav 
	id="navbar" 
	class="navbar navbar-expand-sm navbar-light fixed-top" 
	style="position: fixed; height: 56px; padding: 0px; z-index: 2; transition: all 0.3s;" 
	[ngClass]="offsetTop > 100 && width >= 575 ? 'acrylic light shadow' : ''">
	
	<div class="container fixed-top" [ngClass]="width < 575 ? 'acrylic light shadow' : ''">
		<!-- Branding -->
		<a href="/" 
			class="navbar-brand ml-3" 
			style="color: black; font-size: 35px; font-weight: bold; margin-top: -6px; font-family: 'MV Boli'">
			dav
		</a>

		<!-- Toggle button -->
		<button
			class="navbar-toggler mr-3" 
			type="button"
			data-toggle="collapse"
			data-target="#navbar-responsive"
			aria-controls="navbar-responsive"
			aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- List items -->
		<div class="collapse navbar-collapse" id="navbar-responsive" style="margin-top: -7px; font-family: 'Segoe UI';">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a href="/pricing" class="nav-link navbar-item">Pricing</a>
				</li>
				<li class="nav-item">
					<a href="/login" class="nav-link navbar-item">Log in</a>
				</li>
				<li class="nav-item">
					<a href="/signup" class="nav-link navbar-item">Sign up</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<router-outlet></router-outlet>

<div class="container">
	<footer class="footer">
		<small>
			Copyright &copy; 2019 by dav.
			All rights reserved
		</small>
		<nav>
			<ul>
				<li><a href="https://blog.dav-apps.tech" target="blank">Blog</a></li>
				<li><a href="https://www.twitter.com/dav_apps" target="blank">Twitter</a></li>
				<li><a href="/contact">Contact</a></li>
				<li><a href="/privacy">Privacy Policy</a></li>
				<li><a href="https://github.com/dav-apps/dav-website/releases" target="blank">v0.1</a></li>
			</ul>
		</nav>
	</footer>
</div>