.navbar-item{
	margin: 0px;
	font-size: 19px;
	color: rgba(0, 0, 0, 1) !important;
	padding: 11px 18px 13px 18px !important;
}

.navbar-item:hover{
	background-color: white;
}

footer{
   margin: 45px 0px;
   padding-top: 5px;
   border-top: 1px solid #eaeaea;
   color: #777;

   a{
      color: #222;
   }

   a:hover{
      color: #222;
   }

   small{
      float: left;
   }

   ul{
      float: right;
		list-style: none;
		font-size: 15px;

      li{
         float: left;
			margin-left: 15px;
			color: black;
      }
   }
}