.navbar-item {
	margin: 0px;
	font-size: 19px;
	color: rgba(0, 0, 0, 1) !important;
	padding: 11px 18px 13px 18px !important;
	height: 56px;
}

.navbar-item:hover {
	background-color: white;
}

a.navbar-brand, a.navbar-item {
	text-decoration: none;
}

.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #2e3c7c;
}

.footer-icon-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin: 0 6px;
	padding: 0;
	color: white;
	font-size: 22px;
	line-height: 50%;
}

.footer-links-container {
	color: white;
}

.footer-links-container > a {
	color: white;
	text-decoration: none;
}