<nav 
	id="navbar" 
	class="navbar navbar-expand-sm navbar-light fixed-top"
	style="position: fixed; height: 56px; padding: 0px; z-index: 2; transition: all 0.3s;"
	[ngClass]="offsetTop > 100 && width > 575 ? 'acrylic light shadow' : ''"
	*ngIf="!dataService.hideNavbarAndFooter">

	<div class="container fixed-top" [ngClass]="width <= 575 ? 'acrylic light shadow' : ''" >
		<!-- Branding -->
		<a routerLink="/"
			class="navbar-brand ms-3" 
			style="color: black; font-size: 35px; font-weight: bold; font-family: mvboli, 'MV Boli', Kalam"
			[style.marginTop.px]="width > 575 ? -3 : 0">
			dav
		</a>

		<!-- Toggle button -->
		<button
			class="navbar-toggler me-3" 
			style="margin-top: -7px"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbar-responsive"
			aria-controls="navbar-responsive"
			aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- List items -->
		<div class="collapse navbar-collapse" id="navbar-responsive" style="margin-top: -4px; font-family: 'Segoe UI'; justify-content: right;">
			<!-- Not logged in -->
			<ul class="navbar-nav" *ngIf="!dataService.dav.isLoggedIn">
				<li class="nav-item">
					<a routerLink="/pricing" class="nav-link navbar-item" (click)="HideNavbar()">{{ locale.navbar.pricing }}</a>
				</li>
				<li class="nav-item">
					<a routerLink="/login" class="nav-link navbar-item" (click)="HideNavbar()">{{ locale.navbar.login }}</a>
				</li>
				<li class="nav-item">
					<a routerLink="/signup" class="nav-link navbar-item" (click)="HideNavbar()">{{ locale.navbar.signup }}</a>
				</li>
			</ul>

			<!-- Logged in -->
			<ul class="navbar-nav" *ngIf="dataService.dav.isLoggedIn">
				<li class="nav-item" *ngIf="dataService.dav.user.Dev">
					<a routerLink="/dev" class="nav-link navbar-item" (click)="HideNavbar()">{{ locale.navbar.devDashboard }}</a>
				</li>
				<li class="nav-item">
					<a routerLink="/apps" class="nav-link navbar-item" (click)="HideNavbar()">{{ locale.navbar.allApps }}</a>
				</li>
				<li class="nav-item">
					<a routerLink="/user" class="nav-link navbar-item" (click)="HideNavbar()">{{ dataService.dav.user.FirstName }}</a>
				</li>
				<li class="nav-item">
					<a href="#logout" class="nav-link navbar-item" (click)="Logout()">{{ locale.navbar.logout }}</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<router-outlet></router-outlet>

<div class="container" *ngIf="!dataService.hideNavbarAndFooter">
	<footer class="footer">
		<small>
			Copyright &copy; {{ year }} by dav
		</small>
		<nav>
			<ul>
				<li><a href="https://blog.dav-apps.tech" target="blank">Blog</a></li>
				<li><a href="https://www.twitter.com/dav_apps" target="blank">Twitter</a></li>
				<li><a routerLink="/contact">{{ locale.footer.contact }}</a></li>
				<li><a routerLink="/privacy">{{ locale.footer.privacy }}</a></li>
			</ul>
		</nav>
	</footer>
</div>