<!DOCTYPE html>
<html lang="<%= lang %>">
	<head>
		<title>dav</title>
		<base href="/">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="env" content="<%= process.env.ENV %>">
		<meta name="csrf-token" content="<%= csrfToken %>">

		<link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-pro/css/fontawesome.min.css">
		<link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-pro/css/light.min.css">
		<link rel="stylesheet" href="/node_modules/office-ui-fabric-core/dist/css/fabric.min.css">
		<link rel="stylesheet" href="/node_modules/cropperjs/dist/cropper.min.css">
		<link rel="stylesheet" href="../../styles.scss">
		<link rel="stylesheet" href="user-page.scss">

		<script type="module" src="user-page.ts" defer async></script>
		<script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
	</head>
	<body dir="ltr">
		<include src="src/components/navbar-component/navbar-component.html"></include>

		<dav-sidenav-container>
			<dav-sidenav
				id="sidenav"
				mode="<%= isMobile ? 'over' : 'side' %>">

				<div style="height: 80px"></div>

				<dav-sidenav-item
					id="general-sidenav-item"
					value="<%= locale.sideNav.general %>"
					link="/user">
				</dav-sidenav-item>

				<dav-sidenav-item
					id="plans-sidenav-item"
					value="<%= locale.sideNav.plans %>"
					link="/user#dev">
				</dav-sidenav-item>
			</dav-sidenav>

			<div id="container">
				<button id="sidenav-button" class="d-none">
					<i class="fa-light fa-angle-right"></i>
				</button>

				<!-- General settings -->
				<div id="general-container" class="page-container pt-4 d-none">
					<h1 class="text-center fw-light mb-4"><%= locale.general.title %></h1>

					<div class="d-flex flex-column align-items-center">
						<div id="message-bar-container-general">
							<div class="mb-4 d-none">
								<dav-message-bar
									id="error-message-bar-general"
									type="danger">
								</dav-message-bar>
							</div>

							<div class="mb-4 d-none">
								<dav-message-bar
									id="success-message-bar-general"
									type="success">
								</dav-message-bar>
							</div>

							<!-- Profile image -->
							<div class="mb-3">
								<dav-progress-ring
									id="profile-image-progress-ring"
									class="d-none">
								</dav-progress-ring>

								<img
									id="profile-image"
									class="img rounded"
									src="<%= user.ProfileImage %>"
									alt="<%= locale.general.profileImageAlt %>"
									height="150"
									width="150">
							</div>

							<dav-button
								id="upload-profile-image-button"
								type="accent">
								<%= locale.general.uploadProfileImage %>
							</dav-button>

							<!-- First name -->
							<form>
								<div class="mt-4 d-flex">
									<dav-textfield
										id="first-name-textfield"
										value="<%= user.FirstName %>"
										label="<%= locale.general.firstNameTextfieldLabel %>"
										placeholder="<%= locale.general.firstNameTextfieldPlaceholder %>"
										autocomplete="given-name">
									</dav-textfield>

									<button
										id="first-name-save-button"
										class="btn btn-sm ms-2 icon-button d-none"
										type="button">
										<i class="ms-Icon ms-Icon--Save" aria-hidden="true" style="font-size: 16px"></i>
									</button>

									<dav-progress-ring
										id="first-name-progress-ring"
										class="d-none"
										style="margin: 33px 0 0 14px; width: 16px; height: 16px">
									</dav-progress-ring>
								</div>
							</form>

							<!-- Email -->
							<form>
								<div class="mt-4 d-flex">
									<dav-textfield
										id="email-textfield"
										value="<%= user.Email %>"
										label="<%= locale.general.emailTextfieldLabel %>"
										placeholder="<%= locale.general.emailTextfieldPlaceholder %>"
										type="email"
										autocomplete="email">
									</dav-textfield>

									<button
										id="email-save-button"
										class="btn btn-sm ms-2 icon-button d-none"
										type="button">
										<i class="ms-Icon ms-Icon--Save" aria-hidden="true" style="font-size: 16px"></i>
									</button>

									<dav-progress-ring
										id="email-progress-ring"
										class="d-none"
										style="margin: 33px 0 0 14px; width: 16px; height: 16px">
									</dav-progress-ring>
								</div>
							</form>

							<!-- Password -->
							<form>
								<div class="mt-4 d-flex flex-column" style="width: 200px">
									<dav-textfield
										id="password-textfield"
										label="<%= locale.general.passwordTextfieldLabel %>"
										placeholder="<%= locale.general.passwordTextfieldPlaceholder %>"
										type="password"
										autocomplete="new-password">
									</dav-textfield>

									<div class="mt-3">
										<dav-textfield
											id="password-confirmation-textfield"
											label="<%= locale.general.passwordConfirmationTextfieldLabel %>"
											placeholder="<%= locale.general.passwordConfirmationTextfieldPlaceholder %>"
											type="password"
											autocomplete="new-password">
										</dav-textfield>
									</div>

									<div class="d-flex">
										<dav-button
											id="password-save-button"
											class="mt-3"
											type="accent">
											<%= locale.save %>
										</dav-button>

										<dav-progress-ring
											id="password-progress-ring"
											class="d-none"
											style="margin: 24px 0px 0px 14px; width: 16px; height: 16px">
										</dav-progress-ring>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>

				<!-- Plans -->
				<div id="plans-container" class="page-container pt-4 px-4 d-none">
					<h1 class="text-center fw-light mb-4">
						<%= locale.plans.title %>
					</h1>

					<div class="mx-auto my-2" style="width: 250px">
						<div class="mb-4 d-none">
							<dav-message-bar
								id="error-message-bar-plans"
								type="danger">
							</dav-message-bar>
						</div>

						<div class="mb-4 <%= showUpgradeSuccessMessage ? '' : 'd-none' %>">
							<dav-message-bar
								id="success-message-bar-plans"
								type="success">
								<%= showUpgradeSuccessMessage ? locale.plans.changePlanSuccessMessage : '' %>
							</dav-message-bar>
						</div>
					</div>

					<div class="d-flex flex-column align-items-center pb-4">
						<div style="width: 80%">
							<!-- Cards for payment method and subscription status -->
							<div class="d-flex flex-wrap justify-content-center">
								<% if (card != null && user.Plan > 0) { %>
								<div
									id="payment-method-card"
									class="card shadow-sm"
									style="display: inline-block; margin: 0px 15px">

									<div class="card-body">
										<h5 class="fw-light mb-3"><%= locale.plans.paymentMethodCardHeader %></h5>

										<div class="d-flex">
											<i class="ms-Icon ms-Icon--PaymentCard me-2" style="font-size: 20px; margin-top: -3px" aria-hidden="true"></i>
											<p style="margin-bottom: 0px;">**** **** **** <%= card.last4 %></p>
										</div>

										<p style="margin-bottom: 8px">
											<%= locale.plans.cardExpires %>
											<%= card.exp_month < 10 ? `0${card.exp_month}` : card.exp_month.toString() %>
											/
											<%= card.exp_year %>
										</p>

										<div class="d-flex" style="float: right">
											<dav-progress-ring
												id="payment-method-button-progress-ring"
												style="margin: 8px 14px 0px 0px"
												class="d-none">
											</dav-progress-ring>

											<dav-button
												id="payment-method-button"
												style="float: right; margin-bottom: 16px">
												<%= locale.plans.edit %>
											</dav-button>
										</div>
									</div>
								</div>
								<% } %>

								<% if (periodEndDate != null && user.Plan > 0) { %>
								<div
									id="subscription-card"
									class="card shadow-sm"
									style="display: inline-block; margin: 0px 15px">

									<div class="card-body">
										<h5 id="subscription-card-header" class="fw-light">
											<%= user.SubscriptionStatus == 0 ? locale.plans.nextPayment : locale.plans.subscriptionEnd %>
										</h5>
										<p id="subscription-card-period-end-date"><%= periodEndDate %></p>

										<div class="d-flex" style="float: right; margin-bottom: 16px; margin-top: 27px">
											<dav-progress-ring
												id="cancel-continue-subscription-button-progress-ring"
												style="margin: 8px 14px 0px 0px"
												class="d-none">
											</dav-progress-ring>

											<dav-button
												id="cancel-continue-subscription-button">
												<%= user.SubscriptionStatus == 0 ? locale.plans.cancelSubscription : locale.plans.continueSubscription %>
											</dav-button>
										</div>
									</div>
								</div>
								<% } %>
							</div>
						</div>

						<!-- Plans overview -->
						<div id="plans-table-container" class="d-flex justify-content-center mt-4 mx-3 <%= isMobile ? 'd-none' : '' %>">
							<table id="plans-table">
								<thead>
									<tr>
										<th></th>
										<th class="fs-4 fw-normal">Free</th>
										<th class="fs-4 fw-normal">Plus</th>
										<th class="fs-4 fw-normal">Pro</th>
									</tr>
									<tr>
										<th></th>
										<th></th>
										<th class="fs-6 fw-light"><%= pricingLocale.plus.price %></th>
										<th class="fs-6 fw-light"><%= pricingLocale.pro.price %></th>
									</tr>
								</thead>
								<tbody>
									<tr class="border-top">
										<td><%= pricingLocale.onlineStorage %></td>
										<td><%= pricingLocale.free.storage %></td>
										<td><%= pricingLocale.plus.storage %></td>
										<td><%= pricingLocale.pro.storage %></td>
									</tr>
									<tr class="border-top">
										<td><%= pricingLocale.accessData %></td>
										<td><i class="fa-light fa-check"></i></td>
										<td><i class="fa-light fa-check"></i></td>
										<td><i class="fa-light fa-check"></i></td>
									</tr>
									<tr class="border-top">
										<td><%= pricingLocale.noAds %></td>
										<td><i class="fa-light fa-check"></i></td>
										<td><i class="fa-light fa-check"></i></td>
										<td><i class="fa-light fa-check"></i></td>
									</tr>
									<tr class="border-top">
										<td class="fs-4 fw-light pt-4 pb-1">UniversalSoundboard</td>
									</tr>
									<tr class="border-top">
										<td class="ps-3"><%= pricingLocale.universalsoundboard.hotkeyFeature %></td>
										<td></td>
										<td><i class="fa-light fa-check"></i></td>
										<td><i class="fa-light fa-check"></i></td>
									</tr>
									<tr class="border-top">
										<td class="ps-3"><%= pricingLocale.universalsoundboard.outputDeviceFeature %></td>
										<td></td>
										<td><i class="fa-light fa-check"></i></td>
										<td><i class="fa-light fa-check"></i></td>
									</tr>
									<tr class="border-top">
										<td class="ps-3"><%= pricingLocale.universalsoundboard.playlistDownloadFeature %></td>
										<td></td>
										<td><i class="fa-light fa-check"></i></td>
										<td><i class="fa-light fa-check"></i></td>
									</tr>

									<tr class="border-top">
										<td></td>
										<td class="pt-3">
											<div id="plans-table-free-button-container" class="d-flex justify-content-center">
												<dav-progress-ring
													id="plans-table-free-button-progress-ring"
													style="margin: 4px 14px 0px 0px"
													class="d-none">
												</dav-progress-ring>

												<button
													id="plans-table-free-current-plan-button"
													class="btn btn-sm btn-outline-dark <%= user.Plan == 0 ? '' : 'd-none' %>"
													type="button"
													disabled>
													<%= locale.plans.currentPlan %>
												</button>

												<% if (user.SubscriptionStatus == 0) { %>
												<button
													id="plans-table-free-downgrade-button"
													class="btn btn-sm btn-outline-danger <%= user.Plan > 0 ? '' : 'd-none' %>"
													type="button">
													<%= locale.plans.downgrade %>
												</button>
												<% } else { %>
												<button
													id="plans-table-free-downgrade-button"
													class="btn btn-sm btn-outline-danger <%= user.Plan > 0 ? '' : 'd-none' %>"
													type="button"
													disabled>
													<%= locale.plans.downgrade %>
												</button>
												<% } %>
											</div>
										</td>
										<td class="pt-3">
											<div id="plans-table-plus-button-container" class="d-flex justify-content-center">
												<dav-progress-ring
													id="plans-table-plus-button-progress-ring"
													style="margin: 4px 14px 0px 0px"
													class="d-none">
												</dav-progress-ring>

												<% if (user.SubscriptionStatus == 0) { %>
												<button
													id="plans-table-plus-upgrade-button"
													class="btn btn-sm btn-dark <%= user.Plan == 0 ? '' : 'd-none' %>"
													type="button">
													<%= locale.plans.upgrade %>
												</button>
												<% } else { %>
												<button
													id="plans-table-plus-upgrade-button"
													class="btn btn-sm btn-dark <%= user.Plan == 0 ? '' : 'd-none' %>"
													type="button"
													disabled>
													<%= locale.plans.upgrade %>
												</button>
												<% } %>

												<button
													id="plans-table-plus-current-plan-button"
													class="btn btn-sm btn-outline-dark <%= user.Plan == 1 ? '' : 'd-none' %>"
													type="button"
													disabled>
													<%= locale.plans.currentPlan %>
												</button>

												<% if (user.SubscriptionStatus == 0) { %>
												<button
													id="plans-table-plus-downgrade-button"
													class="btn btn-sm btn-outline-danger <%= user.Plan == 2 ? '' : 'd-none' %>"
													type="button">
													<%= locale.plans.downgrade %>
												</button>
												<% } else { %>
												<button
													id="plans-table-plus-downgrade-button"
													class="btn btn-sm btn-outline-danger <%= user.Plan == 2 ? '' : 'd-none' %>"
													type="button"
													disabled>
													<%= locale.plans.downgrade %>
												</button>
												<% } %>
											</div>
										</td>
										<td class="pt-3">
											<div id="plans-table-pro-button-container" class="d-flex justify-content-center">
												<dav-progress-ring
													id="plans-table-pro-button-progress-ring"
													style="margin: 4px 14px 0px 0px"
													class="d-none">
												</dav-progress-ring>

												<% if (user.SubscriptionStatus == 0) { %>
												<button
													id="plans-table-pro-upgrade-button"
													class="btn btn-sm btn-dark <%= user.Plan < 2 ? '' : 'd-none' %>"
													type="button">
													<%= locale.plans.upgrade %>
												</button>
												<% } else { %>
												<button
													id="plans-table-pro-upgrade-button"
													class="btn btn-sm btn-dark <%= user.Plan < 2 ? '' : 'd-none' %>"
													type="button"
													disabled>
													<%= locale.plans.upgrade %>
												</button>
												<% } %>

												<button
													id="plans-table-pro-current-plan-button"
													class="btn btn-sm btn-outline-dark <%= user.Plan == 2 ? '' : 'd-none' %>"
													type="button"
													disabled>
													<%= locale.plans.currentPlan %>
												</button>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>

						<div id="plans-table-mobile-container" class="d-flex flex-column justify-content-center mt-3 <%= isMobile ? '' : 'd-none' %>">
							<table id="plans-table-mobile-free">
								<thead>
									<tr>
										<th></th>
										<th class="fs-4 fw-normal">Free</th>
									</tr>
								</thead>
								<tbody>
									<tr class="border-top">
										<td><%= pricingLocale.onlineStorage %></td>
										<td><%= pricingLocale.free.storage %></td>
									</tr>
									<tr class="border-top">
										<td><%= pricingLocale.accessData %></td>
										<td><i class="fa-light fa-check"></i></td>
									</tr>
									<tr class="border-top">
										<td><%= pricingLocale.noAds %></td>
										<td><i class="fa-light fa-check"></i></td>
									</tr>

									<tr class="border-top">
										<td></td>
										<td id="plans-table-mobile-free-button-container" class="d-flex justify-content-center pt-3">
											<dav-progress-ring
												id="plans-table-mobile-free-button-progress-ring"
												style="margin: 4px 14px 0px 0px"
												class="d-none">
											</dav-progress-ring>

											<button
												id="plans-table-mobile-free-current-plan-button"
												class="btn btn-sm btn-outline-dark <%= user.Plan == 0 ? '' : 'd-none' %>"
												type="button"
												disabled>
												<%= locale.plans.currentPlan %>
											</button>

											<% if (user.SubscriptionStatus == 0) { %>
											<button
												id="plans-table-mobile-free-downgrade-button"
												class="btn btn-sm btn-outline-danger <%= user.Plan > 0 ? '' : 'd-none' %>"
												type="button">
												<%= locale.plans.downgrade %>
											</button>
											<% } else { %>
											<button
												id="plans-table-mobile-free-downgrade-button"
												class="btn btn-sm btn-outline-danger <%= user.Plan > 0 ? '' : 'd-none' %>"
												type="button"
												disabled>
												<%= locale.plans.downgrade %>
											</button>
											<% } %>
										</td>
									</tr>
								</tbody>
							</table>

							<table id="plans-table-mobile-plus" class="mt-5">
								<thead>
									<tr>
										<th></th>
										<th class="fs-4 fw-normal">Plus</th>
									</tr>
									<tr>
										<th></th>
										<th class="fs-6 fw-light"><%= pricingLocale.plus.price %></th>
									</tr>
								</thead>
								<tbody>
									<tr class="border-top">
										<td><%= pricingLocale.onlineStorage %></td>
										<td><%= pricingLocale.plus.storage %></td>
									</tr>
									<tr class="border-top">
										<td><%= pricingLocale.accessData %></td>
										<td><i class="fa-light fa-check"></i></td>
									</tr>
									<tr class="border-top">
										<td><%= pricingLocale.noAds %></td>
										<td><i class="fa-light fa-check"></i></td>
									</tr>
									<tr class="border-top">
										<td class="fs-4 fw-light pt-4 pb-1">UniversalSoundboard</td>
									</tr>
									<tr class="border-top">
										<td class="ps-3"><%= pricingLocale.universalsoundboard.hotkeyFeature %></td>
										<td><i class="fa-light fa-check"></i></td>
									</tr>
									<tr class="border-top">
										<td class="ps-3"><%= pricingLocale.universalsoundboard.outputDeviceFeature %></td>
										<td><i class="fa-light fa-check"></i></td>
									</tr>
									<tr class="border-top">
										<td class="ps-3"><%= pricingLocale.universalsoundboard.playlistDownloadFeature %></td>
										<td><i class="fa-light fa-check"></i></td>
									</tr>

									<tr class="border-top">
										<td></td>
										<td id="plans-table-mobile-plus-button-container" class="d-flex justify-content-center pt-3">
											<dav-progress-ring
												id="plans-table-mobile-plus-button-progress-ring"
												style="margin: 4px 14px 0px 0px"
												class="d-none">
											</dav-progress-ring>

											<% if (user.SubscriptionStatus == 0) { %>
											<button
												id="plans-table-mobile-plus-upgrade-button"
												class="btn btn-sm btn-dark <%= user.Plan == 0 ? '' : 'd-none' %>"
												type="button">
												<%= locale.plans.upgrade %>
											</button>
											<% } else { %>
											<button
												id="plans-table-mobile-plus-upgrade-button"
												class="btn btn-sm btn-dark <%= user.Plan == 0 ? '' : 'd-none' %>"
												type="button"
												disabled>
												<%= locale.plans.upgrade %>
											</button>
											<% } %>

											<button
												id="plans-table-mobile-plus-current-plan-button"
												class="btn btn-sm btn-outline-dark <%= user.Plan == 1 ? '' : 'd-none' %>"
												type="button"
												disabled>
												<%= locale.plans.currentPlan %>
											</button>

											<% if (user.SubscriptionStatus == 0) { %>
											<button
												id="plans-table-mobile-plus-downgrade-button"
												class="btn btn-sm btn-outline-danger <%= user.Plan == 2 ? '' : 'd-none' %>"
												type="button">
												<%= locale.plans.downgrade %>
											</button>
											<% } else { %>
											<button
												id="plans-table-mobile-plus-downgrade-button"
												class="btn btn-sm btn-outline-danger <%= user.Plan == 2 ? '' : 'd-none' %>"
												type="button"
												disabled>
												<%= locale.plans.downgrade %>
											</button>
											<% } %>
										</td>
									</tr>
								</tbody>
							</table>

							<table id="plans-table-mobile-pro" class="mt-5">
								<thead>
									<tr>
										<th></th>
										<th class="fs-4 fw-normal">Pro</th>
									</tr>
									<tr>
										<th></th>
										<th class="fs-6 fw-light"><%= pricingLocale.pro.price %></th>
									</tr>
								</thead>
								<tbody>
									<tr class="border-top">
										<td><%= pricingLocale.onlineStorage %></td>
										<td><%= pricingLocale.pro.storage %></td>
									</tr>
									<tr class="border-top">
										<td><%= pricingLocale.accessData %></td>
										<td><i class="fa-light fa-check"></i></td>
									</tr>
									<tr class="border-top">
										<td><%= pricingLocale.noAds %></td>
										<td><i class="fa-light fa-check"></i></td>
									</tr>
									<tr class="border-top">
										<td class="fs-4 fw-light pt-4 pb-1">UniversalSoundboard</td>
									</tr>
									<tr class="border-top">
										<td class="ps-3"><%= pricingLocale.universalsoundboard.hotkeyFeature %></td>
										<td><i class="fa-light fa-check"></i></td>
									</tr>
									<tr class="border-top">
										<td class="ps-3"><%= pricingLocale.universalsoundboard.outputDeviceFeature %></td>
										<td><i class="fa-light fa-check"></i></td>
									</tr>
									<tr class="border-top">
										<td class="ps-3"><%= pricingLocale.universalsoundboard.playlistDownloadFeature %></td>
										<td><i class="fa-light fa-check"></i></td>
									</tr>

									<tr class="border-top">
										<td></td>
										<td id="plans-table-mobile-pro-button-container" class="d-flex justify-content-center pt-3">
											<dav-progress-ring
												id="plans-table-mobile-pro-button-progress-ring"
												style="margin: 4px 14px 0px 0px"
												class="d-none">
											</dav-progress-ring>

											<% if (user.SubscriptionStatus == 0) { %>
											<button
												id="plans-table-mobile-pro-upgrade-button"
												class="btn btn-sm btn-dark <%= user.Plan < 2 ? '' : 'd-none' %>"
												type="button">
												<%= locale.plans.upgrade %>
											</button>
											<% } else { %>
											<button
												id="plans-table-mobile-pro-upgrade-button"
												class="btn btn-sm btn-dark <%= user.Plan < 2 ? '' : 'd-none' %>"
												type="button"
												disabled>
												<%= locale.plans.upgrade %>
											</button>
											<% } %>

											<button
												id="plans-table-mobile-pro-current-plan-button"
												class="btn btn-sm btn-outline-dark <%= user.Plan == 2 ? '' : 'd-none' %>"
												type="button"
												disabled>
												<%= locale.plans.currentPlan %>
											</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</dav-sidenav-container>

		<aside class="mdc-snackbar">
			<div class="mdc-snackbar__surface" role="status" aria-relevant="additions">
				<div id="snackbar-label" class="mdc-snackbar__label" aria-atomic="false"></div>
			</div>
		</aside>

		<dav-dialog
			id="expired-session-dialog"
			header="<%= sessionExpiredDialogLocale.header %>"
			primaryButtonText="<%= sessionExpiredDialogLocale.reload %>">
			<p class="fw-light"
				style="max-width: 300px; font-size: 16px">
				<%= sessionExpiredDialogLocale.description %>
			</p>
		</dav-dialog>

		<dav-dialog
			id="profile-image-dialog"
			header="<%= locale.general.profileImageDialog.header %>"
			primaryButtonText="<%= locale.save %>"
			defaultButtonText="<%= locale.cancel %>">

			<div class="mb-3" style="max-height: 400px;">
				<img id="profile-image-dialog-image" style="max-width: 100%">
			</div>
		</dav-dialog>

		<dav-dialog
			id="change-plan-dialog"
			header="<%= locale.plans.changePlanDialog.upgradeProHeader %>"
			primaryButtonText="<%= locale.continue %>"
			defaultButtontext="<%= locale.cancel %>">
			<p id="change-plan-dialog-description"
				class="fw-light"
				style="max-width: 300px; font-size: 16px">
				<%= locale.plans.changePlanDialog.upgradeProDescription %>
			</p>
		</dav-dialog>
	</body>
</html>