<div class="container d-flex flex-column ms-motion-slideUpIn" style="margin-top: 100px; margin-bottom: 100px">
	<img src="/assets/images/dav-logo.png" width="60" height="60" class="align-self-center" />

	<h2 class="text-center font-weight-light my-4">Sign up for dav</h2>

	<div class="d-flex flex-column">
		<!-- Username -->
		<div class="row">
			<div class="col-10 col-sm-6 col-md-5 mx-auto">
				<div class="mb-3" *ngIf="errorMessage.length > 0">
					<fab-message-bar [messageBarType]="messageBarType">{{ errorMessage }}</fab-message-bar>
				</div>

				<fab-text-field
					id="username-text-field"
					[(value)]="username"
					placeholder="Username"
					label="Username"
					type="text"
					autocomplete="username">
				</fab-text-field>
			</div>
		</div>
		<br>
		<!-- Email -->
		<div class="row">
			<div class="col-10 col-sm-6 col-md-5 mx-auto">
				<fab-text-field
					id="email-text-field"
					[(value)]="email"
					placeholder="Email"
					label="Email"
					type="email"
					autocomplete="email">
				</fab-text-field>
			</div>
		</div>
		<br>
		<!-- Password -->
		<div class="row">
			<div class="col-10 col-sm-6 col-md-5 mx-auto">
				<fab-text-field
					id="password-text-field"
					[(value)]="password"
					placeholder="Password"
					label="Password"
					type="password"
					autocomplete="new-password">
				</fab-text-field>
			</div>
		</div>
		<br>
		<!-- Password confirmation -->
		<div class="row">
			<div class="col-10 col-sm-6 col-md-5 mx-auto">
				<fab-text-field
					id="password-confirmation-text-field"
					[(value)]="passwordConfirmation"
					placeholder="Confirm your password"
					label="Password confirmation"
					type="password"
					autocomplete="new-password"
					(keydown.enter)="Signup()">
				</fab-text-field>
				<br>
				
				<div class="d-flex">
					<fab-primary-button (click)="Signup()" [disabled]="signupLoading">Sign up</fab-primary-button>
					<div style="margin-top: 8px; margin-left: 14px" *ngIf="signupLoading"><fab-spinner [size]="spinnerSize"></fab-spinner></div>
				</div>
			</div>
		</div>
	</div>
</div>