<div class="container d-flex flex-column ms-motion-slideUpIn" style="margin-top: 100px; margin-bottom: 100px">
	<img src="/assets/images/dav-logo.png" width="60" height="60" class="align-self-center" />

	<h2 class="text-center fw-light my-4">{{ locale.title }}</h2>

	<div class="d-flex flex-column">
		<form>
			<!-- First name -->
			<div class="row">
				<div class="col-10 col-sm-8 col-md-6 col-lg-5 mx-auto">
					<div class="mb-3" *ngIf="errorMessage.length > 0">
						<dav-message-bar>
							{{ errorMessage }}
						</dav-message-bar>
					</div>

					<dav-textfield
						[label]="locale.firstNameTextfieldLabel"
						[placeholder]="locale.firstNameTextfieldPlaceholder"
						autocomplete="given-name"
						autofocus
						(change)="firstName = $event.detail.value">
					</dav-textfield>
				</div>
			</div>

			<!-- Email -->
			<div class="row mt-3">
				<div class="col-10 col-sm-8 col-md-6 col-lg-5 mx-auto">
					<dav-textfield
						[label]="locale.emailTextfieldLabel"
						[placeholder]="locale.emailTextfieldPlaceholder"
						type="email"
						autocomplete="email"
						(change)="email = $event.detail.value">
					</dav-textfield>
				</div>
			</div>

			<!-- Password -->
			<div class="row mt-3">
				<div class="col-10 col-sm-8 col-md-6 col-lg-5 mx-auto">
					<dav-textfield
						[label]="locale.passwordTextfieldLabel"
						[placeholder]="locale.passwordTextfieldPlaceholder"
						type="password"
						autocomplete="new-password"
						(change)="password = $event.detail.value">
					</dav-textfield>
				</div>
			</div>

			<!-- Password confirmation -->
			<div class="row mt-3">
				<div class="col-10 col-sm-8 col-md-6 col-lg-5 mx-auto">
					<dav-textfield
						[label]="locale.passwordConfirmationTextfieldLabel"
						[placeholder]="locale.passwordConfirmationTextFieldPlaceholder"
						type="password"
						autocomplete="new-password"
						(change)="passwordConfirmation = $event.detail.value"
						(enter)="Signup()">
					</dav-textfield>

					<div class="d-flex mt-3">
						<dav-button
							type="accent"
							[disabled]="signupLoading"
							(click)="Signup()">
							{{ locale.signup }}
						</dav-button>

						<dav-progress-ring
							style="width: 16px; height: 16px; margin: 8px 0px 0px 14px"
							indeterminate="true"
							*ngIf="signupLoading">
						</dav-progress-ring>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<button mat-button
	style="position: absolute; min-width: 0px; padding: 0px; left: 0; top: 0; z-index: 2; font-size: 16px"
	[style.height.px]="height"
	[style.width.px]="backButtonWidth"
	(click)="GoBack()"
	*ngIf="!websiteSignup">
	<i class="ms-Icon ms-Icon--ChevronLeft" aria-hidden="true"></i>
</button>