<div class="container d-flex flex-column ms-motion-slideUpIn" style="margin-top: 100px; margin-bottom: 100px">
	<img src="/assets/images/dav-logo.png" width="60" height="60" class="align-self-center" />

	<h2 class="text-center font-weight-light my-4">{{ locale.title }}</h2>

	<div class="d-flex flex-column">
		<form>
			<!-- First name -->
			<div class="row">
				<div class="col-10 col-sm-8 col-md-6 col-lg-5 mx-auto">
					<dav-website-message-bar
						class="mb-3"
						[message]="errorMessage">
					</dav-website-message-bar>

					<fluent-text-field
						id="first-name-textfield"
						style="width: 100%"
						[placeholder]="locale.firstNameTextfieldPlaceholder"
						type="text"
						autofocus
						autocomplete="given-name"
						(input)="firstName = $event.target.value">
						{{ locale.firstNameTextfieldLabel }}
					</fluent-text-field>
				</div>
			</div>

			<!-- Email -->
			<div class="row mt-3">
				<div class="col-10 col-sm-8 col-md-6 col-lg-5 mx-auto">
					<fluent-text-field
						id="email-textfield"
						style="width: 100%"
						[placeholder]="locale.emailTextfieldPlaceholder"
						type="text"
						autocomplete="email"
						(input)="email = $event.target.value">
						{{ locale.emailTextfieldLabel }}
					</fluent-text-field>
				</div>
			</div>

			<!-- Password -->
			<div class="row mt-3">
				<div class="col-10 col-sm-8 col-md-6 col-lg-5 mx-auto">
					<fluent-text-field
						id="password-textfield"
						style="width: 100%"
						[placeholder]="locale.passwordTextfieldPlaceholder"
						type="password"
						autocomplete="new-password"
						(input)="password = $event.target.value">
						{{ locale.passwordTextfieldLabel }}
					</fluent-text-field>
				</div>
			</div>

			<!-- Password confirmation -->
			<div class="row mt-3">
				<div class="col-10 col-sm-8 col-md-6 col-lg-5 mx-auto">
					<fluent-text-field
						id="password-confirmation-textfield"
						style="width: 100%"
						[placeholder]="locale.passwordConfirmationTextFieldPlaceholder"
						type="password"
						autocomplete="new-password"
						(input)="passwordConfirmation = $event.target.value"
						(keydown.enter)="Signup()">
						{{ locale.passwordConfirmationTextfieldLabel }}
					</fluent-text-field>

					<div class="d-flex mt-3">
						<fluent-button
							appearance="accent"
							[disabled]="signupLoading"
							(click)="Signup()">
							{{ locale.signup }}
						</fluent-button>

						<fluent-progress-ring
							style="width: 16px; height: 16px; margin: 8px 0px 0px 14px"
							indeterminate="true"
							*ngIf="signupLoading">
						</fluent-progress-ring>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<button mat-button
	style="position: absolute; min-width: 0px; padding: 0px; left: 0; top: 0; z-index: 2; font-size: 16px"
	[style.height.px]="height"
	[style.width.px]="backButtonWidth"
	(click)="GoBack()"
	*ngIf="!websiteSignup">
	<i class="ms-Icon ms-Icon--ChevronLeft" aria-hidden="true"></i>
</button>