<div class="container navbar-margin pt-4 ms-motion-slideUpIn">
	<h1 class="text-center font-weight-light mb-3">{{ locale.title }}</h1>

	<div class="mb-3 mx-auto" style="width: 250px" *ngIf="errorMessage.length > 0">
		<fab-message-bar [messageBarType]="messageBarType">{{ errorMessage }}</fab-message-bar>
	</div>

	<div class="row">
		<div 
			class="card text-center m-3 cursor"
			[ngClass]="addAppHovered ? 'shadow' : 'shadow-sm'"
			style="transition: 0.12s"
			(mouseover)="addAppHovered = true"
			(mouseout)="addAppHovered = false"
			(click)="ShowAddAppDialog()">
			<div class="card-body d-flex justify-content-center align-items-center">
				<i class="ms-Icon ms-Icon--Add text-color" aria-hidden="true" style="font-size: 16px"></i>
			</div>
		</div>

		<div 
			class="card text-center m-3 cursor" 
			[ngClass]="hoveredAppIndex == i ? 'shadow' : 'shadow-sm'"
			style="transition: 0.12s"
			*ngFor="let app of apps; let i = index"
			(mouseover)="hoveredAppIndex = i"
			(mouseout)="hoveredAppIndex = -1"
			(click)="ShowApp(app.Id)">
			<div class="card-body">
				<p class="card-text">{{ app.Name }}</p>
			</div>
		</div>
	</div>

	<div class="mt-3 ml-1">
		<fab-primary-button (click)="ShowStatistics()">{{ locale.statistics }}</fab-primary-button>
	</div>
</div>

<fab-dialog
	[hidden]="!addAppDialogVisible"
	[dialogContentProps]="addAppDialogContent"
	(onDismiss)="addAppDialogVisible = false">

	<!-- Name -->
	<div class="mb-4">
		<fab-text-field
			[(value)]="addAppDialogName"
			[label]="locale.addAppDialog.nameTextfieldLabel"
			[placeholder]="locale.addAppDialog.nameTextfieldPlaceholder"
			[errorMessage]="addAppDialogNameError">
		</fab-text-field>
	</div>

	<!-- Description -->
	<div class="mb-4">
		<fab-text-field
			[(value)]="addAppDialogDescription"
			[label]="locale.addAppDialog.descriptionTextfieldLabel"
			[placeholder]="locale.addAppDialog.descriptionTextfieldPlaceholder"
			[errorMessage]="addAppDialogDescriptionError"
			multiline="true">
		</fab-text-field>
	</div>

	<fab-dialog-footer>
		<fab-default-button (click)="addAppDialogVisible = false">{{ locale.cancel }}</fab-default-button>
		<fab-primary-button [styles]="dialogPrimaryButtonStyles" (click)="AddApp()">{{ locale.save }}</fab-primary-button>
	</fab-dialog-footer>
</fab-dialog>