<div class="container navbar-margin pt-4 ms-motion-slideUpIn">
	<h1 class="text-center fw-light mb-3">{{ locale.title }}</h1>

	<div class="mb-3 mx-auto" style="width: 250px" *ngIf="errorMessage.length > 0">
		<dav-message-bar
			type="danger"
			*ngIf="errorMessage.length > 0">
			{{ errorMessage }}
		</dav-message-bar>
	</div>

	<div class="row">
		<div 
			class="card text-center m-3 cursor"
			[ngClass]="addAppHovered ? 'shadow' : 'shadow-sm'"
			style="transition: 0.12s"
			(mouseover)="addAppHovered = true"
			(mouseout)="addAppHovered = false"
			(click)="ShowAddAppDialog()">
			<div class="card-body d-flex justify-content-center align-items-center">
				<i class="ms-Icon ms-Icon--Add text-color" aria-hidden="true" style="font-size: 16px"></i>
			</div>
		</div>

		<div 
			class="card text-center m-3 cursor" 
			[ngClass]="hoveredAppIndex == i ? 'shadow' : 'shadow-sm'"
			style="transition: 0.12s"
			*ngFor="let app of apps; let i = index"
			(mouseover)="hoveredAppIndex = i"
			(mouseout)="hoveredAppIndex = -1"
			(click)="ShowApp(app.Id)">
			<div class="card-body">
				<p class="card-text">{{ app.Name }}</p>
			</div>
		</div>
	</div>

	<div class="mt-3 ms-1">
		<dav-button
			type="accent"
			(click)="ShowStatistics()">
			{{ locale.statistics }}
		</dav-button>
	</div>
</div>

<dav-dialog
	[header]="locale.addAppDialog.header"
	[primaryButtonText]="locale.save"
	[defaultButtonText]="locale.cancel"
	[visible]="addAppDialogVisible"
	[loading]="addAppDialogLoading"
	(dismiss)="addAppDialogVisible = false"
	(primaryButtonClick)="AddApp()"
	(defaultButtonClick)="addAppDialogVisible = false">

	<form>
		<div class="mb-3">
			<dav-textfield
				[label]="locale.addAppDialog.nameTextfieldLabel"
				[placeholder]="locale.addAppDialog.nameTextfieldPlaceholder"
				[errorMessage]="addAppDialogNameError"
				(change)="addAppDialogName = $event.detail.value">
			</dav-textfield>
		</div>

		<div class="mb-3">
			<dav-textfield
				[label]="locale.addAppDialog.descriptionTextfieldLabel"
				[placeholder]="locale.addAppDialog.descriptionTextfieldPlaceholder"
				[errorMessage]="addAppDialogDescriptionError"
				(change)="addAppDialogDescription = $event.detail.value"
				(enter)="AddApp()">
			</dav-textfield>
		</div>
	</form>
</dav-dialog>