<!DOCTYPE html>
<html lang="<%= lang %>">
	<head>
		<title>dav</title>
		<base href="/">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="env" content="<%= process.env.ENV %>">
		<meta name="csrf-token" content="<%= csrfToken %>">

		<link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="/node_modules/office-ui-fabric-core/dist/css/fabric.min.css">

		<script type="module" src="signup-page.ts" defer async></script>
	</head>
	<body dir="ltr">
		<% if (websiteSignup) { %><include src="src/components/navbar-component/navbar-component.html"></include><% } %>

		<div class="container d-flex flex-column align-items-center" style="margin-top: 100px">
			<img
				src="/assets/images/dav-logo.png"
				width="60"
				height="60"
				alt="dav Logo">

			<h2 class="text-center fw-light my-4">
				<%= locale.title %>
			</h2>

			<form class="w-100">
				<!-- First name -->
				<div class="row">
					<div class="col-10 col-sm-8 col-md-6 col-lg-5 mx-auto">
						<!-- Error messages -->
						<div class="mb-3 d-none">
							<dav-message-bar id="error-message-bar">
							</dav-message-bar>
						</div>

						<dav-textfield
							id="first-name-textfield"
							label="<%= locale.firstNameTextfieldLabel %>"
							placeholder="<%= locale.firstNameTextfieldPlaceholder %>"
							autocomplete="given-name"
							autofocus>
						</dav-textfield>
					</div>
				</div>

				<!-- Email -->
				<div class="row mt-3">
					<div class="col-10 col-sm-8 col-md-6 col-lg-5 mx-auto">
						<dav-textfield
							id="email-textfield"
							label="<%= locale.emailTextfieldLabel %>"
							placeholder="<%= locale.emailTextfieldPlaceholder %>"
							type="email"
							autocomplete="email">
						</dav-textfield>
					</div>
				</div>

				<!-- Password -->
				<div class="row mt-3">
					<div class="col-10 col-sm-8 col-md-6 col-lg-5 mx-auto">
						<dav-textfield
							id="password-textfield"
							label="<%= locale.passwordTextfieldLabel %>"
							placeholder="<%= locale.passwordTextfieldPlaceholder %>"
							type="password"
							autocomplete="new-password">
						</dav-textfield>
					</div>
				</div>

				<!-- Password confirmation -->
				<div class="row mt-3">
					<div class="col-10 col-sm-8 col-md-6 col-lg-5 mx-auto">
						<dav-textfield
							id="password-confirmation-textfield"
							label="<%= locale.passwordConfirmationTextfieldLabel %>"
							placeholder="<%= locale.passwordConfirmationTextFieldPlaceholder %>"
							type="password"
							autocomplete="new-password">
						</dav-textfield>

						<div class="d-flex flex-row">
							<div class="d-flex mt-3">
								<dav-button
									id="signup-button"
									type="accent">
									<%= locale.signup %>
								</dav-button>
							</div>

							<dav-progress-ring
								id="signup-progress-ring"
								class="d-none"
								style="width: 16px; height: 16px; margin: 22px 0 0 14px">
							</dav-progress-ring>
						</div>
					</div>
				</div>
			</form>
		</div>

		<dav-dialog
			id="expired-session-dialog"
			header="<%= sessionExpiredDialogLocale.header %>"
			primaryButtonText="<%= sessionExpiredDialogLocale.reload %>">
			<p class="fw-light"
				style="max-width: 300px; font-size: 16px">
				<%= sessionExpiredDialogLocale.description %>
			</p>
		</dav-dialog>
	</body>
</html>