<div
	class="d-flex justify-content-center align-items-center"
	style="position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: 3">

	<div
		style="position: fixed; top: 0; bottom: 0; left: 0; right: 0; background-color: #3b3b3b67;"
		(click)="OverlayClick()">
	</div>

	<div
		style="margin: 2ex; padding: 2ex; border-radius: 5pt; background-color: white; z-index: 4; min-width: 280px"
		class="shadow"
		role="dialog">

		<h4 style="margin-bottom: 20px; font-weight: 100; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">{{ title }}</h4>

		<ng-content></ng-content>

		<div
			class="d-flex"
			style="float: right">

			<fluent-progress-ring
				style="width: 16px; height: 16px; margin: 8px 14px 0px 0px;"
				indeterminate="true"
				*ngIf="isLoading">
			</fluent-progress-ring>

			<fluent-button
				[disabled]="isLoading">
				{{ defaultButtonText }}
			</fluent-button>

			<fluent-button
				style="margin-left: 10px"
				appearance="accent"
				[disabled]="isLoading">
				{{ primaryButtonText }}
			</fluent-button>
		</div>
	</div>
</div>