<!DOCTYPE html>
<html lang="<%= lang %>">
	<head>
		<title>dav</title>
		<base href="/">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="env" content="<%= process.env.ENV %>">
		<meta name="csrf-token" content="<%= csrfToken %>">

		<link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="../../styles.scss">

		<script type="module" src="password-reset-page.ts" defer async></script>
		<script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
	</head>
	<body>
		<include src="src/components/navbar-component/navbar-component.html"></include>

		<div class="container page-container pt-4">
			<h1 class="fw-light text-center mb-3">
				<%= locale.title %>
			</h1>

			<form>
				<!-- Password -->
				<div class="row mb-3">
					<div class="col-8 col-sm-6 col-md-5 col-lg-3 mx-auto">
						<dav-textfield
							id="password-textfield"
							label="<%= locale.passwordTextfieldLabel %>"
							placeholder="<%= locale.passwordTextfieldPlaceholder %>"
							type="password"
							autocomplete="new-password">
						</dav-textfield>
					</div>
				</div>

				<!-- Password confirmation -->
				<div class="row mb-3">
					<div class="col-8 col-sm-6 col-md-5 col-lg-3 mx-auto">
						<dav-textfield
							id="password-confirmation-textfield"
							label="<%= locale.passwordConfirmationTextfieldLabel %>"
							placeholder="<%= locale.passwordConfirmationTextfieldPlaceholder %>"
							type="password"
							autocomplete="new-password">
						</dav-textfield>
					</div>
				</div>

				<div class="row">
					<div class="col-8 col-sm-6 col-md-5 col-lg-3 mx-auto">
						<div class="d-flex">
							<dav-button
								id="save-button"
								type="accent">
								<%= locale.save %>
							</dav-button>

							<dav-progress-ring
								id="save-button-progress-ring"
								class="d-none"
								style="width: 16px; height: 16px; margin: 6px 0px 0px 14px">
							</dav-progress-ring>
						</div>
					</div>
				</div>
			</form>
		</div>

		<dav-dialog
			id="expired-session-dialog"
			header="<%= sessionExpiredDialogLocale.header %>"
			primaryButtonText="<%= sessionExpiredDialogLocale.reload %>">
			<p class="fw-light"
				style="max-width: 300px; font-size: 16px">
				<%= sessionExpiredDialogLocale.description %>
			</p>
		</dav-dialog>
	</body>
</html>