<div class="container navbar-margin pt-4 ms-motion-slideUpIn">
	<div class="d-flex mb-3">
		<div class="mx-auto d-flex">
			<button
				type="button"
				class="btn"
				style="height: 35px; width: 41px; padding: 2px 0px 0px 0px; margin-top: 7px"
				(click)="GoBack()">
				<fab-icon iconName="Back" [styles]="backButtonIconStyles"></fab-icon>
			</button>
			<h1 class="text-left ml-3 font-weight-light">{{ event.Name }}</h1>
		</div>
	</div>

	<!-- Event chart -->
	<canvas baseChart
		style="max-width: 800px"
		class="mx-auto"
		[datasets]="eventChartDataSets"
		[labels]="eventChartLabels"
		chartType="line">
	</canvas>

	<!-- Map chart -->
	<div id="map-chart" class="my-5" style="height: 300px;"></div>

	<!-- Pie charts for browser and os -->
	<div class="row d-flex justify-content-center" *ngIf="pieChartsLoaded">
		<div class="my-5" *ngFor="let data of pieChartData; let i = index">
			<h3 class="text-center font-weight-light">{{ pieChartTitles[i] }}</h3>
			<canvas baseChart
				style="height: 250px"
				[data]="pieChartData[i]"
				[labels]="pieChartLabels[i]"
				chartType="pie">
			</canvas>
		</div>
	</div>
</div>