<div class="container d-flex flex-column ms-motion-slideUpIn" style="margin-top: 100px; margin-bottom: 100px">
	<img src="/assets/images/dav-logo.png" width="60" height="60" class="align-self-center" />

	<h2 class="text-center font-weight-light my-4">{{ locale.title }}</h2>

	<div class="d-flex flex-column">
		<form>
			<!-- Email -->
			<div class="row">
				<div class="col-10 col-sm-8 col-md-6 col-lg-5 mx-auto">
					<!-- Error messages -->
					<div class="mb-3" *ngIf="errorMessage.length > 0">
						<fab-message-bar [messageBarType]="messageBarType">{{ errorMessage }}</fab-message-bar>
					</div>

					<fluent-text-field
						id="email-text-field"
						style="width: 100%"
						[placeholder]="locale.emailTextfieldPlaceholder"
						type="email"
						autocomplete="email"
						autofocus
						(input)="email = $event.target.value">
						{{ locale.emailTextfieldLabel }}
					</fluent-text-field>
				</div>
			</div>

			<!-- Password -->
			<div class="row mt-3">
				<div class="col-10 col-sm-8 col-md-6 col-lg-5 mx-auto">
					<fluent-text-field
						id="password-text-field"
						style="width: 100%"
						[placeholder]="locale.passwordTextfieldPlaceholder"
						type="password"
						autocomplete="current-password"
						(input)="password = $event.target.value"
						(keydown.enter)="Login()">
						{{ locale.passwordTextfieldLabel }}
					</fluent-text-field>

					<div class="d-flex flex-row">
						<div class="d-flex">
							<fluent-button
								style="margin-top: 16px"
								appearance="accent"
								[disabled]="loginLoading"
								(click)="Login()">
								{{ locale.login }}
							</fluent-button>

							<div style="margin-top: 22px; margin-left: 14px" *ngIf="loginLoading"><fab-spinner [size]="spinnerSize"></fab-spinner></div>
						</div>

						<div class="d-flex ml-auto text-right">
							<a style="color: black; font-size: 15px; margin-top: 20px"
								routerLink="/password-reset"
								tabindex="-1"
								*ngIf="websiteLogin">
								{{ locale.forgotPassword }}
							</a>

							<div style="margin-top: 16px" *ngIf="!websiteLogin"><fab-default-button (click)="NavigateToSignup()">{{ locale.signup }}</fab-default-button></div>
						</div>
					</div>

					<div class="mx-auto" style="width: 80%; border-top: 1px solid #eaeaea; margin-top: 56px; margin-bottom: 56px" *ngIf="dataService.dav.isLoggedIn && !websiteLogin && !loginCompleted"></div>
				</div>
			</div>
		</form>
	</div>

	<div class="mx-auto shadow-sm" *ngIf="dataService.dav.isLoggedIn && !websiteLogin && !loginCompleted">
		<button class="list-group-item list-group-item-action" style="padding: 16px" (click)="LoginAsLoggedInUser()">
			<div class="media">
				<img class="mr-3 rounded" [src]="dataService.dav.user.ProfileImage" alt="Profile image of the user" height="70" width="70">
				<h5 class="my-auto font-weight-light">{{ locale.loginAs.replace('{0}', dataService.dav.user.FirstName) }}</h5>
			</div>
		</button>
	</div>
</div>

<button mat-button
	style="position: absolute; min-width: 0px; padding: 0px; left: 0; top: 0; z-index: 2; font-size: 16px"
	[style.height.px]="height"
	[style.width.px]="backButtonWidth"
	(click)="GoBack()"
	*ngIf="!websiteLogin">
	<i class="ms-Icon ms-Icon--ChevronLeft" aria-hidden="true"></i>
</button>