<div class="container d-flex flex-column ms-motion-slideUpIn" style="margin-top: 100px; margin-bottom: 100px;">
	<img src="/assets/images/dav-logo.png" width="60" height="60" class="align-self-center" />

	<h2 class="text-center font-weight-light my-4">Log in to dav</h2>

	<div class="d-flex flex-column">
		<!-- Email -->
		<div class="row">
			<div class="col-10 col-sm-6 col-md-5 mx-auto">
				<!-- Error messages -->
				<div class="mb-3" *ngIf="errorMessage.length > 0">
					<fab-message-bar [messageBarType]="messageBarType">{{ errorMessage }}</fab-message-bar>
				</div>
				
				<fab-text-field
					id="email-text-field"
					[(value)]="email"
					placeholder="Email"
					label="Email"
					type="email"
					autocomplete="email">
				</fab-text-field>
			</div>
		</div>
		<br>
		<!-- Password -->
		<div class="row">
			<div class="col-10 col-sm-6 col-md-5 mx-auto">
				<fab-text-field
					id="password-text-field"
					[(value)]="password"
					placeholder="Password"
					label="Password"
					type="password"
					autocomplete="current-password"
					(keydown.enter)="Login()">
				</fab-text-field>
				
				<div>
					<fab-primary-button (click)="Login()" [styles]="loginButtonStyles">Log in</fab-primary-button>
					<a style="color: black; font-size: 15px; margin-top: 12px; float: right" 
						routerLink="/password_reset" 
						tabindex="-1"
						*ngIf="loginType == 0">Forgot password?</a>
					<div style="margin-top: 24px; float: right;" *ngIf="loginType != 0"><fab-default-button (click)="NavigateToSignup()">Sign up</fab-default-button></div>
				</div>

				<div class="mx-auto" style="width: 80%; border-top: 1px solid #eaeaea; margin-top: 56px; margin-bottom: 56px" *ngIf="dataService.user.IsLoggedIn && loginType == 2"></div>
			</div>
		</div>
	</div>

	<div class="mx-auto shadow-sm" *ngIf="dataService.user.IsLoggedIn && loginType == 2">
		<button class="list-group-item list-group-item-action" style="padding: 16px" (click)="LoginAsLoggedInUser()">
			<div class="media">
				<img class="mr-3 rounded" [src]="dataService.user.Avatar" alt="User avatar" height="70" width="70">
				<h5 class="my-auto font-weight-light">Log in as {{ dataService.user.Username }}</h5>
			</div>
		</button>
	</div>
</div>