@import "../node_modules/bootstrap/scss/bootstrap.scss";

body{
	font-family: Roboto, "Helvetica Neue", sans-serif;
	margin: 0;
}

.navbar-margin{
	margin-top: 56px;
}

.icon-button{
	padding: 2px 0px 0px 0px;
	height: 30px;
	width: 30px;
	font-size: 16px;
}