@import "../node_modules/bootstrap/scss/bootstrap.scss";

body{
	font-family: Roboto, "Helvetica Neue", sans-serif;
	margin: 0;
}

.navbar-margin{
	margin-top: 56px;
}

.icon-button{
	padding: 2px 0px 0px 0px;
	height: 30px;
	width: 30px;
	font-size: 16px;
}

.text-field-error{
	max-width: 200px;
	margin: -2px 0px 0px 0px;
	color: #A80000;
	font-size: 12.5px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cursor:hover{
	cursor: pointer;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

@font-face {
	font-family: 'mvboli';
	src: url('/assets/fonts/mvboli.woff2') format('woff2'),
		  url('/assets/fonts/mvboli.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}