<div class="container navbar-margin pt-4 ms-motion-slideUpIn">
	<h1 class="text-center font-weight-light mb-3">{{ locale.title }}</h1>

	<div class="my-4" style="font-size: 18px">
		<p>{{ locale.intro }}</p>
		<br>

		<h3 class="font-weight-light mb-2">{{ locale.section1.header }}</h3>
		<p>{{ locale.section1.text1 }}</p>

		<ul>
			<li>{{ locale.section1.listItemTime }}</li>
			<li>{{ locale.section1.listItemCountry }}</li>
			<li>{{ locale.section1.listItemBrowser }}</li>
			<li>{{ locale.section1.listItemOs }}</li>
		</ul>
		<p>{{ locale.section1.text2 }}</p>
		<br>

		<h3 class="font-weight-light mb-2">{{ locale.section2.header }}</h3>
		<p>{{ locale.section2.text1 }}</p>
		<p>{{ locale.section2.text2 }}</p>
		<br>

		<h3 class="font-weight-light mb-2">{{ locale.section3.header }}</h3>
		<p>{{ locale.section3.text1 }}</p>
		<p>{{ locale.section3.text2 }}</p>
		<p>{{ locale.section3.text3 }}</p>
		<br>

		<h4 class="font-weight-light mb-2">{{ locale.section3a.header }}</h4>
		<p [innerHtml]="locale.section3a.text1"></p>
		<br><br>

		<p [innerHtml]="locale.endText1"></p>
		<p>{{ locale.endText2 }}</p>
		<p>{{ locale.endText3 }}</p>
	</div>
</div>